[2015-09-23 02:25] arruda opened #1 "Images url not defined?"
Hi there, I just tried creating a new django project and configuring the Puput as standalone to work, but when I upload a image it points to a 404 url.
The images appear in the folders `/images/` and also in the `/original_images/` inside my project root dir.

I was searching for something on this and saw that there is this `^images/` url from Wagtail: http://docs.wagtail.io/en/v1.1/topics/images/

[2015-09-23 12:09] marctc commented on #1
Hi Felipe,

The link that you provide me it's a Wagtail tool to generate image URLs in the image preview  on the image edit page (good to know that exist this, BTW) but it has nothing to do with the issue that you have.

It seems that you didn't configured properly the staticfiles/medias urls in your main urls.py. The official Wagtail documentation provides an example of how to do that:

http://do

[2015-09-27 18:23] arruda commented on #1
Hi @marctc, thanks, for the fast reply.
What you said made it work, I've completely forgot about MEDIA_ROOT/URL settings, so after adding both of them and making django serve them in dev, everything started working :smile:

I agree, that it would be a great idea to put this info in the documentation. Both the changes in the urls.py:
[code]
And the setting of `MEDIA_ROOT` and `MEDIA_URL`, that by d

[2015-09-28 03:05] taedori81 opened #4 "Suggestion Add to document"
First Thanks for the good blog app.
As recommendation, why don' you add this to setup - wagtail blog app section

"Add this to Installed_apps section"
    'wagtail.contrib.wagtailsitemaps',
    'wagtail.contrib.wagtailroutablepage',

because even though using wagtail, it isn't there by default. So We have to add them manually( I think :) )
Without them, I got errors that say " Wagtailroutablepage_

[2015-09-28 11:38] #1 closed

[2015-09-28 11:42] marctc commented on #4
Thanks @taedori81. You are right, it isn't in the wagtail documentation by default. Can you add it to readme.rst and setup.rst and make a PR with this changes?
cheers!

[2015-09-29 06:55] #4 closed

[2015-10-29 12:19] bashu opened #9 "PUPUT_ENTRY_MODEL=..."
[code]

gave me this:
[code]
however
[code]

[2015-10-29 13:09] marctc commented on #9
Where do you have defined your `EntryAbstract` class? In blogger.py? The only strange thing that I can see is that you are defining this:
[code]
instead of
[code]
Is this correct?

[2015-10-30 13:02] bashu commented on #9
nevermind, I've messed elsewhere...

[2015-10-30 13:02] #9 closed

[2015-10-30 13:36] marctc commented on #9
NP @bashu. Do you think that the documentation is confusing on this topic?

[2015-10-30 14:39] bashu opened #10 "Allow to override content_panels..."
I think easiest way is to cut this part and put it into abstract model
[code]

[2015-11-01 03:38] bashu opened #12 "Installing from git"
[code]

[2015-11-01 04:03] bashu commented on #12
nevermind, forgot to add git+http...

[2015-11-01 04:03] #12 closed

[2015-11-01 04:28] bashu opened #14 "Post-processing 'puput/css/style.css' failed!"
[code]

[2015-11-01 04:32] bashu commented on #14
all other images are missed too..

[2015-11-01 12:09] marctc commented on #14
Thanks, I'll check it ASAP!

[2015-11-03 19:26] #10 closed

[2015-11-16 16:42] #14 closed

[2015-11-19 01:14] alexgleason opened #16 "Can't override fields in EntryAbstract subclass"
Mainly wanting to post this to link to django/django#5122 where the problem seems to be resolved. Django gets upset when you try to override a model field from a subclass. In my case, I want to override `body` from EntryAbstract in a subclass but I can't. There's no reason you shouldn't be able to, since the parent class is abstract. This makes the EntryAbstract class far less useful until the pro

[2015-11-19 01:57] alexgleason opened #17 "Content panels display twice"
I really don't understand this.

I'm doing the puput as a plugin method (which I've set in my config). I have an abstract entry class. If I set

[code]

on that abstract class, I still get all the fields in the admin.

If fill in content_panels, like so:

[code]

Then everything appears twice.

I've been looking at the source code for a long time. I don't understand why it's doing this.

[2015-11-19 02:00] alexgleason commented on #17
I was using Puput 0.2, sorry about that! Haha.

[2015-11-19 02:00] #17 closed

[2015-12-09 05:38] bashu opened #19 "UnicodeDecodeError: 'ascii' codec can't decode..."
Got this

[code]

[2015-12-09 12:51] #19 closed

[2015-12-18 22:15] jonhairston opened #21 "Create Entry bug"
The ability to create an entry page without being in the blog subtree breaks the relative url in the base template.

To reproduce create a child page underneath the root page and click entry. Entryt should not show up until you are in the blog subtree. Though I may be wrong on that assumption.

[2015-12-21 07:13] jonhairston opened #22 "wagtail user bar prevents scrolling"
As the title states, whenever I am logged into the wagtail admin, and I'm looking at the blog I'm not allowed to scroll via mousewheel or arrowkeys. No problems if not logged in. could be a possible clash with my other js files

[2015-12-28 21:12] marctc commented on #22
Hi @jonhairston,
I couldn't reproduce it. Can you attach an screenshot or explain me a little bit more how to reproduce it?

thanks!

[2015-12-28 21:17] marctc commented on #21
Hi @jonhairston,
Are you settings the blog as root page?

[2016-01-05 07:04] jonhairston commented on #21
I am not. Does it need to be?

[2016-01-06 15:39] marctc commented on #21
No, the only way that puput works properly is setting a Blog Page as a child of the root page. Are you doing in this ways?

[2016-01-10 05:18] jonhairston commented on #21
Yes I am. The issue is that it is possible to create a Blog page without an Entry page.

[2016-01-10 05:22] jonhairston commented on #22
I believe it may be a conflict with the pre-made theme I was using and the wagtail toolbar. So I guess its really a one time deal maybe. Once I find the library that's breaking things, I'll post results.

[2016-01-10 05:22] #22 closed

[2016-01-18 23:54] Rsgm opened #23 "Post-processing 'puput/css/bootstrap.min.css' failed!"
[code]

puput/fonts/glyphicons-halflings-regular.eot is not in the puput static files.
Could you please fix this?

[2016-01-19 02:43] bashu commented on #23
+1

[2016-01-19 15:09] #23 closed

[2016-01-24 15:32] deronsizemore opened #24 "Trying out Puput and getting server errors and 404's on localhost"
http://dpaste.com/03N6HM3

You can see the errors I'm getting above. I'm able to access the blog_admin no problem but depending on what I click on, I seem to be getting random errors where nothing works until I re-run server. I also am not able to access /blog/. I continue to receive 404's:

    Request URL:	http://127.0.0.1:8000/blog/
    Raised by:	wagtail.wagtailcore.views.serve

Anyone have an

[2016-01-26 13:35] marctc commented on #21
I cannot reproduce the error. Have you extended the Entry Page model?

[2016-01-26 23:55] jonhairston commented on #21
i have not. I can share the code with you via bitbucket if need be, its just for a personal project and nothing serious

[2016-01-27 08:43] eduherraiz commented on #24
It seems a problem trying connect to the database.
Could you share your configuration?

[2016-02-02 15:30] deronsizemore commented on #24
Hey, sorry for the delay. I think I figured this out. This same thing happened actually after removing Puput from my install so that got me digging further (as I first assumed it was Puput). I think it was a local memory debugger which I had installed to test some things called pympler. Once I disabled that application things are working fine out.

Sorry about the false alarm.

[2016-02-02 15:30] #24 closed

[2016-02-18 06:31] nicklo opened #27 "django-endless-pagination abandoned, switch to django-el-pagination"
Apparently django-endless-pagination has been abandoned and fails in django >= 1.9:

https://github.com/frankban/django-endless-pagination/issues/92

Are there any plans to switch to django-el-pagination?

https://github.com/shtalinberg/django-el-pagination

[2016-02-18 07:57] nicklo commented on #27
I've added a pull request albeit admittedly minimally tested: https://github.com/APSL/puput/pull/28

[2016-02-18 08:02] marctc commented on #27
I realized that django-endless-pagination won't be supported anymore, so any alternative sounds good to me.

absolutely!

[2016-02-18 16:29] #27 closed

[2016-02-29 19:52] carltongibson opened #30 "Puput hard requiring Django 1.8"
[code]

That doesn't seem right. :-)

Is there a reason for this?

[2016-02-29 19:53] carltongibson commented on #30
The cause is here: https://github.com/APSL/puput/blob/master/setup.py#L43

[2016-03-01 13:37] #30 closed

[2016-03-01 13:50] carltongibson opened #32 "Remove date from URL"
I'd like to serve posts without the date in the URL. Something like:

[code]

I add this and adjust `EntryPageServe` and `BlogRoutes` etc but I keep getting a 404.

~~What am I missing? How can I get the URL to serve the matching Entry?~~

Thanks.

[2016-03-01 14:13] carltongibson commented on #32
My 404s were caused by an incorrect `blog_slug` 😳

[2016-03-02 12:04] fab10m opened #34 "Substitute Category model"
Hi,

is there anyway substitute the puput category model with a custom one?
I'm trying to install puput over an existing django project. All has gone very well, but my project already has his own category model that can't be substitute.

Best,

Fabio

[2016-03-02 13:23] marctc commented on #34
Yeah, It can be done without many problems. However, you have to consider that you will need to modify the default templates and the entries filters in routers.py

[2016-03-02 14:00] fab10m commented on #34
Thanks for your prompt reply!
So, in order leave the snippet category as in puput, but pointing to "my" category, I only need to modify:
- routers.py (where?)
- default templates (which one?)
- models.CategoryEntryPage?

Best,
Fabio

[2016-03-02 14:13] marctc commented on #34
[code]

`templates/puput/tags/categories_list.html`

[code]

[2016-03-02 14:32] fab10m commented on #34
Thank you very much Marc!
Do you plan to make the category customizable by the developers without edit your core code?

Fabio

[2016-03-02 14:37] marctc commented on #34
Yeah, why not? I have to study this feature and implement it in the cleaner way.

[2016-03-02 14:40] fab10m commented on #34
Great! I stay tuned then :-)

[2016-03-06 18:00] fab10m commented on #34
Hi Marc,

I made the following patches and anything seems to work:
- I create an entry for the setings.py file PUPUT_CATEGORY_MODEL;
- I commented the statement @register_snippet over the "Category" definition;
- I changed the name of Category in CategoryDefault
- I added this code under CategoryDefault definition

[code]
- I made the following change the categories_list inclusion_tag (because I d

[2016-03-07 12:48] marctc commented on #34
:+1:

- I create an entry for the setings.py file PUPUT_CATEGORY_MODEL;
- I commented the statement @register_snippet over the "Category" definition;
- I changed the name of Category in CategoryDefault
- I added this code under CategoryDefault definition

Nice approach, but I think it will be better a pattern like `EntryAbstract`. You can define the default Category model in abstracts and define t

[2016-03-07 12:53] fab10m commented on #34
Thanks Mark!
I'm going to try to follow the approach suggested by you.

[2016-03-09 10:43] #32 closed

[2016-03-14 17:22] Nekmo opened #35 "Improper construction of urls for entries"
When I use the "LIVE" button from the administration Puput, opens the correct url:
http://my.dev:8001/en/esto-es-una-prueba-de-blog/una-pagina-del-blog/

But if I'm looking at the index of the blog, the url is incorrect and returns a 404 error:
http://my.dev:8001/en/esto-es-una-prueba-de-blog/2016/03/14/una-pagina-del-blog/

![instantanea7](https://cloud.githubusercontent.com/assets/740106/1375300

[2016-03-16 12:53] marctc commented on #35
Hi,
Try to set your site root to your blog page as is explained on the docs:
http://puput.readthedocs.org/en/latest/sites.html

BTW,  did you set the puput urls with i18n patterns?

[2016-03-16 15:43] Nekmo commented on #35
Yes, I have placed inside the i18n.

Is this a problem?

[2016-03-16 15:53] Nekmo commented on #35
I tried putting Puput outside the i18n_patterns and works fine. However, I would like to use i18n_patterns.

[2016-03-16 16:02] marctc commented on #35
Hi,
Have you tried that i told you on my first reply?

[2016-03-16 16:33] Nekmo commented on #35
Yes. This is my root website:
![instantanea7](https://cloud.githubusercontent.com/assets/740106/13820249/c4a86b1c-eb9c-11e5-82bb-b185c32bfa43.png)

My blog is inside this website root:
![instantanea7](https://cloud.githubusercontent.com/assets/740106/13820273/e47d68ca-eb9c-11e5-9cdf-d3813ccc71d3.png)

And finally my post:
![instantanea7](https://cloud.githubusercontent.com/assets/740106/13820288/f

[2016-03-17 13:25] marctc commented on #35
Hi,

If you set the Blog as a child of "Mi sitio" and under i18n url patterns it doesn't work. I18n patterns and a Puput blog will work if you set as Root Page your Blog Page instead "Mi sitio".

[2016-03-19 15:35] voylinux opened #36 "Have a how to contrib"
As this is originally prepared to be installed with pip, it would be nice to have small document file to explain how to setup a develpment enviroment to work on puput improvement without installing it, from source code.

[2016-03-20 13:24] voylinux opened #38 "Possible roadmap"
I have some ideas about things that could be added like some custom post types such as video, picture ... etc (somehow a WordPress style) and not sure if those thing should be suggested as pull requests here in this repo or just developed as Wagtail or Puput addons.

Do you have some kind of future roadmap or public discussion so people can contribute to the project?.
And if so ... how to add them

[2016-03-20 22:20] marctc commented on #38
Maybe if you have an idea that could be useful not only on Puput it could be make as a Wagtail plugin and add it as Puput dependecy. Otherwise, we can add it to Puput without any trouble.

And if so ... how to add them according to the current default theme.

No, we haven't (it's all in my head hehe). We can open issues here and tag it for an specific roadmap and as "enhacements". What do you thin

[2016-03-20 22:30] voylinux commented on #38
Open issues and discuss here if you think this should be inside puput or not sounds great for me if you like the idea in having some help with the project. ;)

This way also if you have no plans to include it in the "core", I can release it as a plugin.

[2016-03-20 23:09] marctc opened #39 "Add support for other comment systems"
It would be interesting to have support for other comment systems like Facebook comments. Before that the following things are needed:

- [x] Remove tapioca-disqus from setup.py
- [x] Refactor `EntryPageUpdateCommentsView` to suport other comment systems
- [x] Refactor js code that update the number of comments of an entry.

[2016-03-20 23:10] voylinux commented on #39
Can you define priorities on wich systems you would like to include. Some of them may be harder than others.

[2016-03-20 23:12] marctc commented on #39
Maybe facebook comments. I think is widely used too.

[2016-03-20 23:14] voylinux commented on #39
I deactivated my Facebook account last week but yes, that looks like a good idea.

[2016-03-20 23:15] iampbernardo opened #40 "Body content as StreamField"
Maybe the WordPress way is not the best way, but I think some of the WordPress options to create diferent kind of posts is a very good idea.

Something like
![custom_post_types](https://cloud.githubusercontent.com/assets/1538304/13907973/ee59d530-eef9-11e5-9e2c-71b380537bac.png)

What do you think about that. Is it too opinionated aproach?.
Should those be pluggins?

[2016-03-20 23:21] voylinux opened #41 "Canonical url"
Someting useful for SEO reasons is having a field to add a cannonical url in case you are publishing a previoulsy posted text or something similar.

I would like to include this and other similar things in a SEO plugin / module or something, but I don't see the way because would need to add the relation field to the page model , right?

[2016-03-20 23:25] voylinux opened #42 "Templates system"
This one looks more like a Wagtail improvement for me, but the current way to change the template is a little bit tricky.

If I understood well, you need to copy the whole puput folder and then change everything in the new folder.
Do you have any idea on a system to be able (for example) to create some Puput blog templates that could be installed by people who just want a blog?

[2016-03-20 23:33] marctc commented on #40
I'm working on a similar approach. We use Puput in APSL's blog but we have the problem that the default RichTextField don't work well for other things like inserting code snippets. We though an interesting approach would be replace the body field from a RichTextField to a StreamField (see this link http://thirdworldnomad.com/2015/06/22/developing-wagtail on the section "Extending StreamField Block

[2016-03-20 23:38] voylinux commented on #40
Looks like a great aproach.
Then this library could also help with syntax highlighting [http://prismjs.com/](http://prismjs.com/)

The main problem would be migrating already exiting posts, right?

[2016-03-20 23:41] marctc commented on #40
Yes, it is. For the moment, I think that the best option is have two body fields and provide to user a tool to migrate between fields (something like this http://docs.wagtail.io/en/v1.4.1/topics/streamfield.html?highlight=streamfield#migrating-richtextfields-to-streamfield=

[2016-03-20 23:45] marctc commented on #42
Yeah, is an issue that I also have in mind. I think that we could add a "template_name" field on BlogPage model to select the name of the template that you previously created. If you have in mind a template system like Wordpress maybe this will be a Wagtail improvement (and interesting too).

[2016-03-20 23:45] voylinux opened #43 "Custom JS includes"
I will work on this one as we talked, but put it here to have it tracked in the main repo if you are planning to include it in core.

The idea behind this is leaving blog admins to include JS code with is not hard-coded in templates like analytics or other tracking code.

[2016-03-20 23:46] #38 closed

[2016-03-20 23:46] voylinux commented on #42
Ok, maybe not a number one priority but I will think about this one because this could be a game changer feature.

[2016-03-20 23:49] voylinux commented on #36
I think I am doing this in a very hacky way right now, having the cloned repo in another folder and a symbolic link inside a wagtail project.

Which is the best aproach for that?

[2016-03-20 23:56] voylinux opened #44 "django-compress not included as a dependency"
Compress is not included as a dependency but is being required in the templates.

[2016-03-20 23:58] marctc commented on #36
Yeah, this is correct. You also can go to repo folder and peform `pip install -e .` within your virtualenv. So any change on your Puput cloned repo will be avaiable on your Wagtail project.

[2016-03-21 00:00] voylinux commented on #36
Nice. That will help.

[2016-03-21 00:01] marctc commented on #44
That's because it was Wagtail dependency until version 1.4. We need to add it now.

[2016-03-21 00:02] marctc opened #45 "Add cache for template tags"
Tag list, categories list and archives could be cached in order to improve page performance.

[2016-03-21 00:31] marctc opened #46 "Add Travis CI integration"
We need an stable CI suit to run build a project and run tests (work in progress).

- [x] Run a Django server
- [x] Add tox support
- [x] Run tests
- [x] Run flake8
- [ ] Upload a package build to PyPI after pushing a new tag.

[2016-03-21 22:07] voylinux commented on #43
I was thinking about opening a new "folder" in sidebar to put a "custom" section for this kind of customizations. Do you see it?

[2016-03-21 22:09] marctc commented on #43
Now is on Settings tab. Could be good separate all this content in a new tab. Sure!

[2016-03-21 22:11] voylinux commented on #43
Yeah!. We can open this new section for those things.

[2016-03-23 21:22] voylinux commented on #39
Looks that maybe for Facebook you just need some kind of selector to activate and then...
[https://www.allaboutghost.com/how-to-add-facebook-comments-to-ghost/](https://www.allaboutghost.com/how-to-add-facebook-comments-to-ghost/)

[2016-03-25 11:09] #44 closed

[2016-03-28 13:33] Juanlu001 commented on #39
May I add another comment system: https://github.com/posativ/isso which apparently is used by another guy in Mallorca, @somenxavier :)

[2016-03-28 17:01] somenxavier commented on #39
@Juanlu001 Who are you? Do I know you? ;-)

[2016-03-28 17:04] Juanlu001 commented on #39
I don't think so, but I saw your website listed on some isso website and found it curious that you live in Mallorca too. Didn't want to bother you :)

[2016-03-28 17:24] marctc commented on #39
Thanks @Juanlu001. It seems cool. I'll take a look!

[2016-03-29 05:09] somenxavier commented on #39
@Juanlu001 Don't bother.
@all: this [wiki](https://github.com/posativ/isso/wiki/Powered-by-isso) has a list of website powered by isso. When @Juanlu001 get one, please add it up ;-)

[2016-04-11 07:06] eduherraiz opened #47 "Add category in insert post page"
We can choose the category of a post from their insert page, but we can't add a new category.
I think it could be useful.

[2016-04-15 20:43] xpostudio4 opened #48 "Changing the Username to display the full_name"
I am not sure this can be called an issue but what is the simplest way to change the owner field to display the full name of the user instead of his username?
![3c1dd1c4-0307-11e6-88d3-b1d83a0b3f8d](https://cloud.githubusercontent.com/assets/755375/14574340/19c9bdbe-0329-11e6-8350-8b1b5bbeae09.png)

[2016-04-23 17:16] marctc commented on #48
The editor's admin is entirely developed by the Wagtail team so I can't tell how to customize that in a proper way. Maybe your can extend the Django User model and overwrite the __unicode__/__str__ magic methods to display the full_name instead the username

[2016-04-26 12:48] xpostudio4 commented on #48
Thank you @marctc the correct way to handle that is to overwrite the User `__str__` method as below in an admin.py file:

[code]

I left this here for future reference.

[2016-04-26 12:48] #48 closed

[2016-04-26 12:51] marctc commented on #48
thanks!

[2016-05-10 12:53] sirrryankennedy commented on #32
I did the same thing, but I can't seem to figure out how to change the urls in "Latest Entries" sidebar element. In tags/categories_list.html, I see `{% routablepageurl blog_page "entries_by_category" category.slug %}` but not sure how to edit it exactly. Any thoughts?

[2016-05-10 16:04] sirrryankennedy opened #49 "Puput Tags in Other App"
I installed puput as a blog app. I also have a home app for my homepage. I'm trying to add a list of recent posts to the html of my homepage, similar to what is found in entries_list.html.

`{% for entry in 'puput:entries' %}
     <ul class="style3">
	<li><a href="{% pageurl entry %}">{{ entry.title }}</a></li>
     </ul>
{% endfor %}`

This is what I put into my html (I use pageurl because I use

[2016-05-10 22:14] marctc commented on #49
Are you trying to iterate over entry list with that code?  If you are doing `{% for entry in 'puput:entries' %}` you are iterating over a string. This is way it shows you 'unicode' object has no attribute 'relative_url'. You have to iterate over a queryset or a list of entries.

[2016-05-11 05:15] sirrryankennedy commented on #49
I see. I'm just trying to show the latest entries in my homepage.html, similar to what's in entries_list but in my own custom html. I attempted to use just `{% for entry in entries %}` just like in entries_list.html, in addition to `{% for entry in puput:entries %},` and a few other versions. The first shows nothing, the second gives an error. I'm still learning django, I've learned a lot but ther

[2016-05-11 06:25] marctc commented on #49
You won't have `entries` in that context so you need to retrieve entries in your view (take a look at `get_entries` method of `BlogPage`). Then you have to pass entries queryset to the context of your view.

[2016-05-14 21:29] shikolay opened #50 "ImportError: No module named compressor"
puput should have django_compressor as dependency
Because after fresh installation python manage.py migrate gives compressor import errors

[2016-05-17 07:00] marctc commented on #50
Is already changed in setup.py. I have to upload a new version to PyPI.

[2016-05-18 21:58] marctc commented on #50
Fixed on version 0.6

[2016-05-18 21:58] #50 closed

[2016-05-22 09:47] pieterdd commented on #46
Here are some baby steps in that direction: https://github.com/APSL/puput/pull/53

[2016-06-02 02:41] shikolay commented on #42
+1

[2016-06-04 00:41] jorgeluis11 commented on #23
+1 !

[2016-06-04 10:42] marctc commented on #23
@jorgeluis11 is still happening to you?

[2016-06-08 16:53] marctc commented on #34
@fab10m any news regarding this issue?

[2016-06-08 17:09] #41 closed

[2016-06-16 07:42] sastred opened #54 "Optimize blog images for social sharing"
When sharing an URL from Puput in Twitter (and possibly in other social networks) the header image doesn't appear in the tweet.

https://dev.twitter.com/cards/troubleshooting#missing_text

http://blog.hubspot.com/marketing/open-graph-tags-facebook-twitter-linkedin

[2016-06-24 20:35] keisetsu opened #56 "compressor no longer included in default wagtail setup"
The setup documentation section "Installation on top of Wagtail" should add "compressor" to the list of apps that need to be included for puput to work in the latest version of Wagtail, as it is not included by default from 1.4:
http://docs.wagtail.io/en/v1.4.1/releases/1.4.html#removed-django-compressor-dependency

[2016-06-24 22:12] #56 closed

[2016-07-06 07:12] #49 closed

[2016-07-12 20:43] #54 closed

[2016-07-26 22:20] #35 closed

[2016-07-28 21:26] #21 closed

[2016-07-28 21:41] #39 closed

[2016-07-30 15:30] fab10m commented on #34
Hi, @marctc I've no news. I'm stiill in the same situation of 5 months ago. Allora works fine, so I decided not to touch anything :-)

[2016-08-03 12:52] #34 closed

[2016-08-03 17:07] keisetsu opened #58 "rss feed uses Django site page instead of Wagtail site"
I'm not sure when the Django site is set up, but it seems to default to "example.com".

When I add a new blog using the Wagtail admin, most of the links are setup correctly. However, when I go to the rss feed, all links listed in that feed use the Django site (in the django_site table) instead of the Wagtail site, so all links in the rss feed go to "example.com/blog/testing" or something like that

[2016-08-10 20:02] #58 closed

[2016-08-14 17:53] mronoffon opened #61 "Header Image not saving"
Saving 'normal' images (wagtailimages.Image) is no problem, but when i use
WAGTAILIMAGES_IMAGE_MODEL ("core.APPImage" - mine), I get the following error: "Select a
valid choice. That choice is not one of the available choices." The code originates from the
example, so there "shouldn't" be any syntax errors. Im using wagtail 1.5.3, with django 1.9.9.

Thanks in advance

[2016-08-14 22:00] fab10m opened #62 "author username"
Hi Marc,

why I'm not able to to point to author page when the author name contains the "." or the "@"? This is the pattern I'm using for the author pages
[code]
Regards,

Fabio

[2016-08-18 13:29] #61 closed

[2016-08-18 13:30] marctc commented on #61
@mronoffon you can close this https://github.com/torchbox/wagtail/issues/2911

[2016-08-18 14:08] marctc commented on #62
It seems a Wagtail limitation since the regex for serving pages is `'^([\w\-/]*)$'`.

[2016-08-18 14:31] fab10m commented on #62
Thank you very much March for your quick reply.

Regards,

Fabio

2016-08-18 16:08 GMT+02:00 Marc Tudurí <notifications@github.com>:

[2016-08-24 07:03] #62 closed

[2016-08-31 19:51] mronoffon commented on #40
what is the status of the 'RichTextField to a StreamField' (if there is one)?

[2016-09-01 19:27] nux17 opened #63 "How to change base blog template?"
Hello,

I can't find anything in the doc to change puput's default base template (colors, etc)...

How can I do such thing?

[2016-09-01 21:17] JuanjoA commented on #63
To inherit puput templates on a wagtail project I use:

1/ create template for home:
myproject/myproject/templates/puput/blog_page.html

2/ create template for entry detail:
myproject/myproject/templates/puput/entry_page.html

Maybe you can edit templatetags also:

myproject/myproject/templates/puput/tags/entries_list.html
(lastest and popular entries)

myproject/myproject/templates/puput/tags/ent

[2016-09-02 07:03] marctc commented on #40
Hi @mronoffon,
I've waiting if [wagtail-markdown](https://github.com/torchbox/wagtail-markdown) make any progress to be production ready.

There are a [branch](https://github.com/APSL/puput/tree/body_streams) for this goal. Feel free to try it.

[2016-09-02 07:04] marctc commented on #63
Hi @nux17, @JuanjoA  is on the right way (thanks!)

[2016-09-02 15:42] nux17 commented on #63
@JuanjoA Thank you!

So, I've to create a puput folder in my templates folder and copy the puput base templates and change it?

What about the CSS?

Moreover, what's the difference between blog_page and entry_page?

Thanks for helping.

[2016-09-02 15:57] marctc commented on #63
Yes.

You have to do the same procedure that @JuanjoA explained to you.

`blog_page` is the template of the blog home page and `entry_page` is the template of the detail of an entry.

[2016-09-02 16:48] nux17 commented on #63
Thanks for all the explainations, you guys rock!

Hope that will help other people too :)

[2016-09-03 14:41] nux17 opened #64 "i18n support"
Hi, how i18n is handled in pupput?

My blog has to be both in english and french. Is there a way to add a blog entry in 2 languages?

Thanks.

[2016-09-05 09:51] marctc commented on #64
Hi @nux17,
We are writing a documentation with the approach that we developed for our customers. The main idea is that you have to duplicate your content for each language. Since Wagtail doesn't have a proper i18n support we need to do tweaks like this in order figure out this problem.

[2016-09-05 12:04] nux17 commented on #64
Sure, so are the translation features available right now?

[2016-09-05 12:18] marctc commented on #64
As I said, you have to duplicate your content. So you need to create a structure like /en/blog/ and /fr/blog and create the same entries for each blog.

[2016-09-05 12:18] #63 closed

[2016-09-05 12:21] nux17 commented on #64
Got it. So no i18n support on url patterns for the blog.
That's weird Wagtail doesn't support localization OOB.

[2016-09-05 15:09] nux17 commented on #64
Could I have some support doing this?

I need it translated in French and English, do I have to insert `puppet urls` inside i18n patterns and then build 2 sites on Wagtail admin? Just need some advices doing it the proper way.

[2016-09-05 20:46] csalom commented on #64
Hi @nux17 !
Yes, we are talking about the refered Wagtail doc page. You don't have to insert puput urls inside i18n because the language code in the url will be the title/slug of your "home pages" at the Wagtaild admin. You just need to follow the [puput's documentation](http://puput.readthedocs.io/en/latest/setup.html).

Puput's now ready to suport this, @marctc and I work on it in [this commit](

[2016-09-07 12:34] nux17 commented on #64
Thanks for helping @csalom!

Almost got this to work.
Here are my urls:
`urlpatterns = i18n_patterns(
    url(r'^$', index),
)

urlpatterns += [
    url(r'^admin/', admin.site.urls),
    url(r'^newsletter', newsletter_handler),
    url(r'^robots.txt$', lambda r: HttpResponse("User-agent: *\nDisallow:")),]

urlpatterns += url(r'^language/', include('django.conf.urls.i18n')),

urlpatterns += url(r''

[2016-09-11 22:33] JuanjoA opened #65 "How to integrate with wagtail and create a web portal"
Hello, I trying to integrate wagtail and puput to create a web cms portal.
As puput take control over cms, which it's the recommended way to integrate other pages, different from blog_page and entry_page?

Example:
I have a home with multiple tags (recent entries, popular entries, advertisement, ...) and header, footer, . . ., and need to create some menu entries , to new page models, etc.
Home ->

[2016-09-12 09:12] marctc commented on #65
Hi,

No, puput won't take control over cms, simply adds new models, templates and a different url format (only for entries).

You can create new models, forms, templates or whatever your want but in another Django app. Wagtail will register this models too and you will be able to structure your portal as you wish

There you have an example  of a project with puput and wagtail :
https://www.ncora.c

[2016-09-12 18:23] JuanjoA commented on #65
Thanks @marctc !
I can move blog_page under home page and create all correctly.
Now, to show on home some entries, I need to use puput tags, but the context is not correct (i.e recent_entries search for blog_page and home is page) but this is another history.
To solve this, I can create my own tags and adapt them.
Thanks again.

[2016-09-12 20:39] csalom commented on #64
Hi @nux17,
As you said, that solution is not good enough. It's not completed. As I tried to explain at my other comment, you have to include a new page above the blog's page. When you look at your wagtail tree (at the admin) instead of /blog/ at your root level you should see: /fr/blog and /en/blog.

You have to follow [wagtail's documentation](http://docs.wagtail.io/en/latest/advanced_topics/i18n

[2016-09-13 09:57] marctc commented on #65
You wellcome!

[2016-09-13 09:57] #65 closed

[2016-09-17 13:49] robslotboom opened #66 "PUPUT_USERNAME_FIELD"
get_entries() in puput.models BlogPage raises an error.

[code]
This results in select_related('owner__username') which is wrong and shoud be
select_related('owner')

[2016-09-27 14:34] marctc commented on #66
Did you extend the default Django User model? Did you remove the  username field in that custom User model?
If  the above questions have an affirmative answer you should set `PUPUT_USERNAME_FIELD` with a proper username field.

[2016-09-27 15:41] robslotboom commented on #66
Yes

No

Are you absolutely sure?
In my opinion select_related('owner__username') is pointing to a non FK-field.

Ir raises:

django.core.exceptions.FieldError: Non-relational field given in select_related: 'username'. Choices are: user_profiles, userprofile

[2016-09-27 16:53] marctc commented on #66
What Django version are you using?

[2016-09-27 18:41] robslotboom commented on #66
1.10.1

[2016-09-28 10:20] marctc commented on #66
Hi @robslotboom. I do some tests and I could reproduce the error.  I'll fix it ASAP.

Thanks!

[2016-09-28 13:05] robslotboom commented on #66
Hi Marc,

You are welcome.
And thank you for the nice app you made.

Best regards,

Robert Slotboom

Op 28 sep. 2016, om 12:20 heeft Marc Tudurí <notifications@github.com> het volgende geschreven:

[2016-09-29 16:58] emdete opened #67 "installation flow in setup.rst"
i followed the docs/setup.rst (after a `virtualenv -p /usr/bin/python3 env; source ./env/bin/activate; pip install django; django-admin.py startproject demo`) line by line. when doing the `demo/manage.py migrate` (and setting PROJECT_ROOT as requested) (and fixing the error `django.core.exceptions.ImproperlyConfigured: COMPRESS_ROOT defaults to STATIC_ROOT, please define either`)  i get a:

[code]

[2016-09-29 18:19] emdete commented on #67
ok, that one (no attribute user) is fixed, one has to change MIDDLEWARE to MIDDLEWARE_CLASSES... i do not know why that is not generated correctly.

the warning persistst and i get another warning:

[code]

[2016-09-29 18:43] emdete commented on #67
and i've overseen this one:

[code]

could be corrected in the doc as well.

[2016-09-30 06:56] marctc commented on #67
Are you using Django 1.10, right?

[2016-09-30 08:13] emdete commented on #67
i installed via pip, looking into `lib/python3.5/site-packages/django/__init__.py` shows `VERSION = (1, 9, 10, 'final', 0)`. so no, it's 1.9, right?

what is the desired django version for puput? isn't it 1.9 and if so why is 1.9 installed?

[2016-09-30 09:02] emdete commented on #67
i was asked to issue a `demo/manage.py makemigrations` as well, shouldn't that be in the flow as well (with some explanation)?

finally the link "Continue reading »" points to a wrong location (i have a setup where django is in a sub-path "/PATH_PREFIX/blog/..." only so i have `url(r'^{}'.format(settings.PATH_PREFIX), include('puput.urls')),`) the `PATH_PREFIX` part is dublicated. haven't figured

[2016-10-15 21:49] lgellert commented on #66
I just ran into the same exact error as @robslotboom.

[2016-10-17 09:07] marctc commented on #66
It seems that Puput is not fully compatible with Django 1.10 right now. I'll fix it ASAP.

thanks

[2016-10-19 22:40] #46 closed

[2016-10-22 10:05] bashu opened #68 "puput and wagtail v1.7"
Got ``TypeError`` exception
[code]

[2016-10-22 11:27] #68 closed

[2016-10-22 13:42] bashu opened #70 "Overriding ``Entry.get_context`` method"
source of problem https://github.com/APSL/puput/blob/master/puput/models.py#L157

[2016-10-22 18:12] marctc commented on #70
Can you explain this with more details? I don't know whats going on.

[2016-10-23 03:52] bashu commented on #70
Hey @marctc

1) I wanted to override get_context in my custom EntryAbstract model, but it never get called because of inheritance hierarchy, see https://github.com/APSL/puput/blob/master/puput/models.py#L157

2) now try to swap them and you will encounter the some issue as https://code.djangoproject.com/ticket/27337

[2016-10-23 21:36] #70 closed

[2016-10-23 23:37] marctc commented on #66
Fixed in the last commit

[2016-10-23 23:37] #66 closed

[2016-10-25 04:49] bashu opened #73 "puput, django-el-pagination and django 1.10.x"
I got this
[code]

[2016-10-25 04:50] bashu commented on #73
never mind looks like already fixed in master

[2016-10-25 04:50] #73 closed

[2016-10-27 10:48] sterago opened #74 "Comment count visible when disqus_api_secret is not set"
If display_comments is set the comments count are displayed. Would it make sense to show/hide the comment count depending on the value of disqus_api_secret instead?

I can work on a PR if this approach sounds good

[2016-11-03 10:31] marctc commented on #74
Yeah, it makes sense. Thanks

[2016-11-03 10:32] marctc commented on #67
@emdete could you open a new issue for each issue that you have? Is easy for me to track which issues are resolved or not.

thanks

[2016-11-03 10:46] marctc commented on #74
fix in #75

[2016-11-03 10:46] #74 closed

[2016-11-26 02:40] FlipperPA commented on #40
Howdy @marctc, thanks for your efforts! I have a pretty good generic StreamField body block I've developed. Want me to implement a version and issue a PR? Perhaps as a different Entry page type, maybe a "StreamEntry"?

[2016-11-26 02:41] FlipperPA opened #79 "Problem with wp2puput import"
Thanks for the great work on puput. After getting the installation working for `wp2puput`, I'm running into an error on the import.

[code]

I've tried several different ways, but haven't dug any deeper into the code in case someone sees something obvious I'm missing.

[2016-11-26 11:17] mronoffon commented on #40
YES, pleas!!!

On Nov 25, 2016, at 9:40 PM, Timothy Allen <notifications@github.com> wrote:

[2016-11-26 11:18] marctc commented on #79
Thanks! I'll check it asap!

[2016-11-26 12:11] marctc commented on #40
Yeah, sounds good to me. What do you have in mind?

I would rather implement as an extra body field in Entry model and set the `body` field as `blank=True`

[2016-11-26 12:13] FlipperPA opened #81 "Including dependencies for new StreamField block types"
I've created three block types for code syntax highlighting, Markdown, and RST types:

https://github.com/FlipperPA/wagtail-components

However, these have Python dependencies: pygments, markdown, and docutils, respectively. How do we feel about adding dependencies to puput to include these block types? I'll start with a generic StreamField I've created, but thought it might be cool to include the

[2016-11-26 13:48] #67 closed

[2016-11-26 13:55] marctc commented on #81
Sure. I think there is no problem adding new dependencies.

[2016-11-28 02:25] FlipperPA commented on #81
Thanks! I'll close this out. I'm working on adding a StreamField option, and hope to have a PR for discussion soon to see what people think.

[2016-11-28 02:25] #81 closed

[2016-11-28 16:41] marctc commented on #81
Thanks!!

[2016-12-07 17:05] marctc commented on #79
Fixed in wordpress2puput 0.3

[2016-12-07 17:05] #79 closed

[2017-01-27 13:41] mronoffon commented on #40
any headway?

[2017-01-27 13:44] marctc commented on #40
We are working on it in this PR: https://github.com/APSL/puput/pull/83

[2017-01-27 14:29] FlipperPA commented on #40
Feel free to help out with the PR if anyone would like! I'm hoping to get some time soon to merge the best from both branches.

[2017-02-04 11:15] marctc commented on #47
Related https://github.com/wagtail/wagtail/pull/3305

[2017-02-09 02:29] bobhy opened #91 "Dependencies on rcssmin and rjsmin, a problem on (64-bit) Windows"
I don't actually expect too much sympathy here, but my install of puput on Windows with 64 bit python just failed trying to build the C extensions for rcssmin and rjsmin, error C++ compiler not found.
That's true. I don't have a 64-bit compiler installed right now.

Microsoft distributes 'express' and 'community' edition versions for free, but those are 32-bit only.

Sure, I could ratchet down Pyt

[2017-02-09 18:41] FlipperPA commented on #91
Wagtail had a similar issue with libsass before the 1.0 release for django-compressor, which wasn't really a requirement. Is it worth making these optional instead of required? There are so many different ways to compress CSS and JS, and even then, the performance gains for most blog sites would be negligible performance wise for most implementations of CSS / JS.

Which is a long way of asking: ca

[2017-02-09 18:49] marctc commented on #91
Don't worry, we don't discredit anybody whatever it is his OS. We are a community and we have to respect each other.

As @FlipperPA said, this an issue with django-compressor and Wagtail removed time ago.

Yeah, this is an excelent idea. Let's do this!

[2017-02-09 18:51] marctc commented on #16
@alexgleason is this possible right now?

[2017-02-10 16:14] sterago opened #92 "Produced feed is not valid when entry has header image"
it seems that because of this method https://github.com/APSL/puput/blob/master/puput/feeds.py#L48

the produced RSS feed contains an `enclosure` element, which is invalid because it's lacking the `length` and `type` fields which are required (https://validator.w3.org/feed/docs/rss2.html)

To my understanding the `enclosure` element is only useful for media that has a length, e.g. audio or video, b

[2017-02-10 16:31] sterago opened #93 "Description element in produced feed contains entry's body"
Since the description element of RSS feeds is meant to contain a summary of the item, would it make sense to have the `BlogPageFeed.item_description` try to return `item.excerpt` and, only when no excerpt is present, fallback to `item.body` (or a truncated version of it)?

If you agree, I can work on a PR

[2017-02-11 03:52] bobhy commented on #91
I think that is an excellent idea, too.  It will simplify the installation of `puput` for future users.

As for me, I worked around the problem with sympathy from a totally unexpected source, Microsoft, Inc!

It turns out they have been releasing the 64-bit C++ compiler for free to the community for a couple of years now.  It must have been big news in the Python community when it happened, but so

[2017-02-11 13:43] marctc commented on #93
I thought that RSS readers make an excerpt automatically of each blog post. If that's not true, I'm agree on continuing working on this issue.

[2017-02-11 15:13] xusy2k opened #94 "Templatetags too much rigid"
All templates tags have takes_context=True, but only pass exact information to template. So, if you want to override template it's difficult add some kind of magic. For instance, if you want to mark an li with class active for better highlighting, you can't add an extra class, active. Or if you want difference between categories down title or right side you also can't do it

* puput/entry_page_hea

[2017-02-11 16:17] xusy2k opened #96 "CI is not working"
[code]

[2017-02-11 16:36] marctc commented on #92
So, where will header image go if we remove `enclosure`?

[2017-02-11 17:04] #96 closed

[2017-02-11 17:18] FlipperPA commented on #91
Slight tangent here, but Microsoft has been embracing the Python and Django communities quite a bit lately. They provide support for both `pyodbc` and `django-pyodbc-azure` now: https://blogs.technet.microsoft.com/dataplatforminsider/2016/12/09/sql-server-python-whats-new/

[2017-02-11 17:31] marctc opened #99 "Demo site is broken"
http://puput.apsl.net/ is returning a 502 Bad Gateway error.

[2017-02-13 13:55] sterago commented on #92
Apparently, the two most common ways of including an image for a feed's item are:
- adding the image within an `enclosure` element
- adding a `CDATA` section with an `img` element inside of the item's `description` field

However, for the first alternative one would need to specify the MIME type, which given the current implementation, results in a "None" value, and a valid `length` which is curre

[2017-02-13 15:28] sterago commented on #93
After a deeper look at the RSS specs, it seems that the `description` field of the `item` can either be the full content or just a summary, at discretion of the publisher.
Therefore I would add a boolean `PUPUT_SHORT_FEED_DESCRIPTION` setting and, based on that, have the `item_description` method return the excerpt/truncated body or the full body.

I personally prefer using the excerpt as it's mor

[2017-02-13 15:43] sterago opened #100 "Include blog's header image as channel image in feed"
The produced feed might use `BlogPage.header_image` as value for the `image` element of the `channel`

[2017-02-13 15:49] marctc commented on #93
Yes, you can proced it. If you want that users can configure if they want the full body or only the excerpt you can add a field to BlogPage model (default to excerpt) instead of adding a new setting.

[2017-02-13 15:52] marctc commented on #92
To be honest, I don't have the enough RSS knowledge to make this decission. So if any of the implementations work choose whatever you think will work better.

thanks!

[2017-02-13 19:43] marctc commented on #47
This issue should be addressed to Wagtail team. They added a new M2M field (https://github.com/wagtail/wagtail/pull/3305) in their last release but not the ability to add new items.

[2017-02-13 19:43] #47 closed

[2017-02-13 19:44] #94 closed

[2017-02-13 19:52] #92 closed

[2017-02-19 18:18] #100 closed

[2017-02-19 18:18] #93 closed

[2017-02-20 05:25] nicklo opened #107 "Changing owner editable to true creates migration file in wagtailcore"
While running makemigrations for my own apps as part of a wagtail based project I'd sporadically get the following migration file generated within _wagtail/wagtailcore/migrations/_

[code]

After some assistance via http://stackoverflow.com/questions/42263389/wagtailcore-owner-alter-field-migration-being-generated-when-doing-app-makemigra it appears that the reason this was happening is the line:

[2017-02-20 12:59] marctc commented on #107
Yikes! I had this issues several times but never figure out why! The idea behind make "owner" editable is to have a owner choser while creating/editing an entry. Maybe @gasman could give us any idea how to fix this without that ugly monkey-patching.

[2017-02-20 17:50] gasman commented on #107
I reckon we could change it to `editable=True` within Wagtail with no ill effects. The `editable=False` was necessary in early versions of Wagtail because the page editor would automatically add any 'spare' fields that weren't accounted for in the panels definition - the idea was to make the panel definition optional, but that never worked well (it just gave you an unlabelled input field outside o

[2017-03-07 04:02] uditagarwal opened #108 "Extending EntryPage and Entries"
Hello!

Thanks for the wonderful work on this plugin. I have been using an extended EntryPage for which I have made a class and done the migrations

[code]

It loads all fine and great on its own page where I can access
`{{ self.video_header_url }}`

in the template, however on the entry page for my blog, doing a

`{{ entry.video_header_url }}
`
only gives me an empty! Is there another step I have

[2017-03-08 18:25] csalom commented on #108
Hi @uditagarwal

How are you getting the entries list? I supose that you have done something like: BlogPage.get_children(), do you?
In this case, you have to do: entry.specific.video_header_url.

That's because the wagtail method get_children() does a query to your DataBase looking for Page Model. If you navegate inside it, you could take a look.

Then, Wagtail provides you the "specific" property

[2017-03-12 20:16] mronoffon opened #109 "remove dates from url"
There doesn't seem to be a clear way of removing dates from the URL.
Is there it can be done?

thanks

[2017-03-13 05:34] uditagarwal commented on #108
Alright, this works for me! Thanks a lot for your insight :)

[2017-03-13 05:34] #108 closed

[2017-03-22 15:22] marctc opened #110 "Document how to extend the default template"
As users couldn't select a template (for the moment https://github.com/APSL/puput/issues/42) it could be useful have a section in the documentation that explains how to extend the default template. This will avoid further issues like https://github.com/APSL/puput/issues/63

[2017-03-22 20:43] yarsanich commented on #110
+1

[2017-04-01 11:19] uditagarwal commented on #107
Watching this thread to know when it's fixed

[2017-04-13 16:38] MiltonLn commented on #110
+1

[2017-04-13 17:09] MiltonLn opened #111 "Support for code snippets in entries?"
Hello,
Firstly i want to thank you guys for this awesome app, i'm evaluating it for starting a development blog and this looks awesome, the only feature i can't find right now is how to insert code snippets on my entries.

Is there any markdown support for the entries?
Do you guys know any way to easily achieve this need?

Sorry if this is so obvious, i'm new to wagtail.

[2017-04-13 18:33] #111 closed

[2017-04-13 18:33] MiltonLn commented on #111
I'm closing this because of issue #40 and pull request #83

[2017-04-15 03:09] MiltonLn commented on #40
Please see pull request #112

[2017-04-29 11:14] marctc commented on #109
You have to extend the blog template (https://github.com/APSL/puput/blob/master/puput/templates/puput/blog_page.html#L48) and replace the `entry_url` tag for default's wagtail tag `pageurl`.

I hope this will work for you.

[2017-04-29 11:14] #109 closed

[2017-04-30 22:38] sabueso commented on #110
+1

[2017-05-01 17:29] sabueso opened #113 "Add templates customization to main documentation"
HI!

Puput is great, and work out of the box! but will be great for newcomers (as me), show how to customize the default css&html templates.
Result a little bit tricky to find how to do it, and in fact, if you don't browse the closed issues you can't find how to do that (or maybe, I'm a little bit lazzy and i didn't find it in docs...), and it's really simple, as described here => https://github.c

[2017-05-01 18:53] sabueso commented on #113
WOA! It's duplicated https://github.com/APSL/puput/issues/110 :-). Closed right now.

[2017-05-01 18:53] #113 closed

[2017-06-02 16:37] mengkheang opened #114 "Django 1.11.x support?"
I already have a site running on django 1.11 when is it gonna be supported?

[2017-06-02 19:50] FlipperPA commented on #114
I haven't tested it yet, but you may be able to just change "1.11" to "2" on this line:

https://github.com/APSL/puput/blob/master/setup.py#L44

Give that a whirl?

[2017-06-03 06:32] mengkheang commented on #114
let see i'll fork it :)

[2017-06-09 10:10] mengkheang commented on #114
@FlipperPA how can i run test again django 1.11.x ?

[2017-06-10 00:16] FlipperPA commented on #114
I've been busy on other projects, but I think I'll have some cycles this weekend to give Puput a test under 1.11, and hopefully finish up the Stream Body PRs. :)

[2017-06-14 18:03] harshmalik opened #116 "Django 1.9 : Invalid template library specified. ImportError"
Invalid template library specified. ImportError raised when trying to load 'mainApp.templatetags.puput_tags': No module named urls

Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/
Django Version: 	1.9
Exception Type: 	InvalidTemplateLibrary
Exception Value:

Invalid template library specified. ImportError raised when trying to load 'mainApp.templatetags.puput_tags': No module named urls

[2017-06-15 03:28] MiltonLn opened #117 "How to create static pages"
Hello, i'm new to Wagtail, puput and CMS in general.

But i have ready my blog, i just need to add a contact and about us static pages but i can't figure how to achieve this. I have reviewed on documentation and wagtail docs too.

I'm trying to add a django app with urls and also linking them on my ROOT_URLCONF but always i go to /about it's raising a 404 error by `wagtail.wagtailcore.views.serve`

[2017-06-15 04:16] harshmalik commented on #116
I downgraded to django 1.8.9 and now I get the error
TemplateSyntaxError at /blog/

'puput_tags' is not a valid tag library: ImportError raised loading mainApp.templatetags.puput_tags: No module named urls

Request Method: 	GET
Request URL: 	http://127.0.0.1:8000/blog/
Django Version: 	1.8.9
Exception Type: 	TemplateSyntaxError
Exception Value:

'puput_tags' is not a valid tag library: ImportError

[2017-06-15 11:45] sabueso commented on #117
Hi Milton

Seems rare to read this from you, due the fantastic work you've done in the Puput branch in your git profile (that's what I'm using now in prod in my personal page) ;)

In  http://ramiro.io I have barely the same you need: some static pages and the blog.
If I review the config of my wagtail project I'm using this:

`
INSTALLED_APPS = [
    #puput requirements
    'puput',
    'compresso

[2017-06-15 12:44] MiltonLn commented on #117
Hello @sabueso,

Thanks for your help!
It seems that my problem is that i've done the Puput installation as "Standalone blog app"
I will try your way and then close the issue if solved.

Thanks a lot

[2017-06-15 12:50] marctc commented on #117
Thanks @sabueso for you help :+1:

[2017-06-15 12:50] #117 closed

[2017-06-15 12:52] marctc commented on #116
Can you show me your `INSTALLED_APPS`?

[2017-06-16 03:16] harshmalik commented on #116
INSTALLED_APPS = [
    'djangocms_admin_style',
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'mainApp',
    'django_comments',
    'django.contrib.sites',
    'allauth',
    'allauth.account',
    'allauth.socialaccount',
    'allauth.socialaccount.provid

[2017-06-16 08:10] harshmalik commented on #116
I happen to have the following code in my mainApp's templatetags folder in init. py file:
 from django.conf import settings

for a in settings.INSTALLED_APPS:
    try:
        __path__.extend(__import__(a + '.templatetags', {}, {}, ['']).__path__)
    except ImportError:
        pass

When I remove this the error is gone...What is wrong in this code!?

[2017-06-16 09:06] marctc commented on #116
What is the purpouse of that code?

[2017-06-20 20:05] harshmalik commented on #116
It was there didn't know what for!
Never mind issue resolved now

[2017-06-20 20:05] #116 closed

[2017-06-27 10:18] mengkheang commented on #114
@FlipperPA hopefully soon :)

[2017-06-28 12:38] marctc commented on #114
Apparently it works.

[2017-06-28 12:38] #114 closed

[2017-06-28 12:45] mengkheang commented on #114
awesome thank @marctc I'll try it when I got home

[2017-07-02 01:59] sabueso opened #121 ""Twitter cards" on posts"
Hi!

Maybe a good improvement is to develope "Twitter cards" for posts, to share more graphically posts wroten in a blog.

A good example of "Twitter card" for a resource:

![seleccion_340](https://user-images.githubusercontent.com/2073374/27766741-31886b3a-5edb-11e7-9a67-c111b7b4fbb4.png)

Somebody thinking about that? Will a PR wellcomed? :-P

Thanks!

[2017-07-02 09:33] sabueso commented on #121
My mistake: I'm using a forked version of Puput from https://github.com/MiltonLn and if StreamBody is defined and not normal "body", the twitter cards are not validated due the lack of "description" field in template rendering.

I'll apply a monkey-patch until some decision is taken from his PR

[2017-07-02 09:33] #121 closed

[2017-07-03 14:35] marctc commented on #121
Sorry to hear that you miss time with that. We are so close to have StreamBody in puput!

[2017-07-04 09:35] marctc opened #122 "PUPUT_USERNAME_REGEX does not accepts dots in the regex"
Due this Wagtail issue (https://github.com/wagtail/wagtail/issues/3653) filtering entries by author with usernames with dots is not possible. So you cannot write something like this `PUPUT_USERNAME_REGEX = '[-\w\.]+'`. A possible workaround is overwrite the `wagtailcore/urls.py` file.

[2017-07-12 16:33] jojolalpin opened #123 "Error with django 1.11: Context must be a dict rather than RequestContext"
**Quick fix : Keep with django 1.10**

When rendering base.html line 46 for an entry end point:
Context must be a dict rather than RequestContext.
/usr/local/lib/python3.5/site-packages/django/template/context.py in make_context, line 287

error happens in puput_tags.py in show_comments at template rendering.

[2017-07-15 01:53] SalahAdDin commented on #121
What's stream body?

[2017-07-15 19:49] sabueso commented on #121
@SalahAdDin you can follow this here => https://github.com/APSL/puput/pull/83

[2017-07-18 21:26] gururajjeerge commented on #23
+1

[2017-07-26 07:19] marctc commented on #123
I wasn't able to reproduce it. Can you provide me more details?
thanks

[2017-07-26 07:37] jojolalpin commented on #123
Hi marc,
Sorry I can't right now, too busy.
But django doc tells about a change since 1.11 about context and using 1.10
solved the problem.

Le mer. 26 juil. 2017 09:19, Marc Tudurí <notifications@github.com> a
écrit :

[2017-07-26 12:01] #107 closed

[2017-08-07 08:23] nicklo opened #127 "ImportError: No module named puput after 0.9 upgrade"
I'm getting the error "ImportError: No module named puput" after a pip upgrade from 0.8 to 0.9 on a fresh virtualenv for an existing project. This is with Django==1.10.7, wagtail==1.9, django-compressor==2.1.1 and django-el-pagination==3.1.0 on Python2.7 on MacOS 10.12.

(Note in following I'm using  --no-deps because I'm trying to keep django 1.10.7)

[code]

[2017-08-07 10:14] marctc commented on #127
Hi @nicklo. Can you try it again? Install again the 0.9 version (remove and reinstall)

[2017-08-07 10:37] #36 closed

[2017-08-08 01:50] nicklo commented on #127
**Success!**

[code]
Thanks @marctc

[2017-08-08 07:07] #127 closed

[2017-08-10 14:16] Speedy1991 commented on #123
there was a breaking change [here](https://docs.djangoproject.com/en/1.11/releases/1.11/#django-template-backends-django-template-render-prohibits-non-dict-context)

[2017-08-14 14:55] jeffgodwyll opened #129 "Puput Page not found (404)"
I've set up puput [on top of a fresh wagtail instal](http://puput.readthedocs.io/en/latest/setup.html#installation-on-top-of-wagtail)l. I noticed support for Django 1.11+ is quite recent.

Anything I'm missing?

[code]

[code]

[2017-08-16 11:58] #123 closed

[2017-08-16 11:59] marctc commented on #129
I'll check it ASAP. thanks

[2017-08-20 21:16] albcunha commented on #40
Guys, I made a symbolic bountysource for this feature. Not a lot, 50 bucks, but better than nothing, right? Keep up the good work!

[2017-08-20 22:04] jeffgodwyll commented on #129
@marctc any updates?

[2017-08-21 07:08] marctc commented on #40
Awesome!!! Thank you very much @albcunha. Never heard about this. @MiltonLn @FlipperPA can you take a look?

[2017-08-21 09:10] sabueso commented on #40
@albcunha is there some possibility to increase those 50 bucks with money from other users? I'll be grateful to contribute ;)

[2017-08-21 09:23] marctc commented on #40
@sabueso Yep!
https://www.bountysource.com/issues/32083681-body-content-as-streamfield

[2017-08-21 09:30] sabueso commented on #40
@marctc Done!

[2017-08-21 09:41] marctc commented on #40
awesome!

[2017-08-21 16:07] marctc commented on #129
@jeffgodwyll did you create any blog page or executed `python manage.py puput_initial_data` command?

[2017-08-21 21:37] jeffgodwyll commented on #129
ha! thanks. I missed that step. I'd love to add that to that section of the docs if it's fine by you?

[2017-08-21 21:37] #129 closed

[2017-08-21 22:53] marctc commented on #129
Sure. But keep in mind that if someone has a previously defined page structure in his Wagtail project it not recommended to execute that command. Only should be executed if there are no any other pages.

[2017-09-08 08:13] JamesRamm opened #130 "Missing migration"
Hi
Thanks for the nice app.
With puput 0.9 installed, my app attempts to create a migration for it when I run `makemigrations`:

[code]
I imagine this migration should be in the codebase?

It actually causes me a problem at the moment since I am running on docker. Since `puput` is in `site-packages` and outside of my codebase, my docker user doesnt have permission to create this migration.
This ca

[2017-09-12 09:33] #130 closed

[2017-09-14 12:32] Pyloons opened #131 "Puput perhaps needs add something about django-compressor in docs."
### Meet the trouble
When I ready to deploy my blog,I give the `production.py` to gunicorn run,but it always show error 500.
### Hard working
After many tries in puzzle,I found the problem is in the templates.So I set many many `{% comment %}sth{% endcomment %}` in `base.html`.Finally I found the tag `{% compress %}` is the source of trouble.
### Complain a lot
Wagtail's doc said they [remove djan

[2017-09-14 12:38] marctc commented on #131
Hi @Pyloons,

I'm planning to remove django-compressor from the dependencies as Wagtail did in previous versions. It's true that compressor is tricky for deployments and also caused other issues like #91. Are you able to make a PR in order to get rid off the compresser dependency?

[2017-10-08 12:26] abadger1406 opened #135 "Puput settings for using django.authtools"
The question is what settings/changes are needed to make puput work with django.authtools ?
Be good to have these documented, as this is a popular package.

Here is what I tried....

I added the following settings:-
PUPUT_USERNAME_FIELD='email'
PUPUT_USERNAME_REGEX= '\S+'

Then found I also needed to modify templates/puput/entry_page_header.html to read:-

[code]

i.e replace entry.owner.username

[2017-10-08 12:27] abadger1406 commented on #135
The wagtail user edit module also fails 'slightly' if useing django.authtools, in that you cannot change first_name and last_name.

[2017-10-08 12:39] abadger1406 commented on #135
Reading...
http://puput.readthedocs.io/en/latest/settings.html
Just realised there is setting:-
PUPUT_USERNAME_FIELD='email'

Still getting this error...
Reverse for 'entries_by_author' with arguments '('',)' not found. 1 pattern(s) tried: ['author/(?P<author>\\w+)/$']

[2017-10-08 12:44] abadger1406 commented on #135
here is trace from runserver
[code]

[2017-10-08 12:46] abadger1406 commented on #135
Extract from settings.py
[code]

[2017-10-08 14:06] StrattonStudios commented on #42
Yo!

I am working to refactor the templates structure down in an effort to make template extending easier. I am following the aldryn-newsblog layout where the base.html is semantic and free of <link> tags. If anyone is interested i can fork or open a pull request for review.

Thanks,
Greg

If there is interest i can fork a repo, or open a pull request here.

Thanks,
Greg

[2017-10-08 20:37] abadger1406 commented on #135
Struggling to find correct patter to match email in url...

[code]

Also, do I need to change    templates/puput/entry_page_header.html to read:-

[code]

[2017-10-20 09:32] marctc commented on #135
Hi @abadger1406. Sorry for late response. I already realized that it was a wagtail issue. In fact, we have and open issue with this: #122.

cheers

[2017-10-20 09:32] #135 closed

[2017-10-20 09:36] marctc commented on #42
Hi @StrattonStudios. As far as I know, nobody is working on this. All that you say sounds amazing to me. Go ahead!

[2017-10-20 09:43] marctc commented on #131
Fixed in #134

[2017-10-20 09:43] #131 closed

[2017-10-20 09:43] marctc commented on #91
Fixed in #134

[2017-10-20 09:43] #91 closed

[2017-10-30 05:29] rifuso opened #137 "Any way to override the URL style?"
To keep the URLs as short as possible, I would rather not have the date information in the permalink URLs that are generated by puput. Is it possible to set a preference somewhere or override this somehow?

[2017-10-31 19:05] NathanQ opened #138 "Odd error on Python3.4"
Seemingly nothing to do with puput, but unable to migrate with error "cannot import name ‘py31compat’"

[code]
The file, `py31compat.py` is there in the pkg_resources directory so it doesn't make sense.

Uninstalled, reinstalled, and force updated setuptools, dropped virtualenv and made another, but with paput installed, same error.

*Edit: Tried Python3.6 and the same line in `paput/models.py` fo

[2017-11-04 03:25] rifuso commented on #137
Ah, it looks like I can just use wagtail's pageurl template tag instead of puput's entry_url tag.

[2017-11-04 03:25] #137 closed

[2017-11-09 20:49] pjmcdermott commented on #110
As modifying an existing set of templates is such an involved procedure, I often think comprehensive documentation of the variables, methods, template tags that are available for a Django app would be a much better approach. Any JavaScript dependencies would also need to be noted. An unstyled **skeleton** template might also be useful, as an example, but all the CSS styling and anything else extra

[2017-11-09 22:44] pjmcdermott opened #139 "RSS feed not working due to Content Length Mismatch error"
I have just installed `puput==0.9.1` as an app alongside the rest of my Django site, and I have noticed the RSS feed is not working.

The server appears to be serving the page OK:
[code]
But the browser (Chromium) reports:
[code]
Note the content length mismatch error.

When I use the debugger to see the response to the syndication view I can see good data:
[code]
So this appears to be an issue wi

[2017-11-09 23:08] pjmcdermott commented on #139
The `example.com` in the original output appears to come from the [Django Sites framework](https://docs.djangoproject.com/en/1.11/ref/contrib/sites/). Changing the domain name in my database to 'localhost' corrected the link in the RSS feed, but did not resolve the issue with the RSS feed not displaying in the browser.

[2017-11-13 12:38] SalahAdDin commented on #139
@pjmcdermott How can you debug feeds?

[2017-11-13 16:25] pjmcdermott commented on #139
@SalahAdDin Sorry, I don't understand the question

[2017-12-07 15:18] ysharoiko opened #142 "Non English SLUG"
Tryed
Was trying
Django==1.11.8
wagtail==1.13.1
puput==0.9.1

Created blog with slug name test - Everything was perfect.
Then created blog with NON ENGLISH slug name блог-лабораториума
And got error accessing page:

Request Method: | GET
-- | --
http://localhost:8000/%D0%B1%D0%BB%D0%BE%D0%B3-%D0%BB%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%B8%D1%83%D0%BC%D0%B0/
1.11.8
NoReverseMatch
Rever

[2017-12-07 15:23] ysharoiko commented on #142
When I renamed slug in english error disappeared.
Is there a way to make translite before saving? Maybe somebody knows where to fix it? I would be glad to here )

[2017-12-07 17:53] ysharoiko opened #143 "Not working data links"
I added blog record with slug name test.
And added subrecord blog-test-1

And it perfectly shows in
http://localhost:8000/test/

But on that page theres a link
http://localhost:8000/test/2017/12/07/blog-test-1/

Which absolutly not working

Request Method: | GET
-- | --
http://localhost:8000/test/2017/12/07/blog-test-1/
wagtail.wagtailcore.views.serve

[2018-01-27 19:28] thexiaozhuzhu opened #146 "Following the guide on ReadTheDocs installing puput ontop of Wagtail does not work"
Following the guide below does not work
[](https://puput.readthedocs.io/en/latest/setup.html#installation-on-top-of-wagtail)

The reason for this being that pip install puput gets you an old version 0.9.1
https://pypi.python.org/pypi/puput/0.9.1

You get a compress error which I managed to fix by reading up
https://github.com/APSL/puput/pull/134
(Although I am not sure if I fixed everything)

Spec

[2018-02-02 12:32] chacha68600 commented on #146
I had the same problem, and fixed the first two files as you did.
And now I have problem with "Waiting for response from http://127.0.0.1:8000/blog"
and I am not able to see the page.
However, blog_admin page is working well.
Do you have any idea what's going on within my situation?

[2018-02-12 16:53] marctc commented on #143
Hi @ysharoiko,
Have you checked this?? http://puput.readthedocs.io/en/latest/sites.html

[2018-02-12 16:55] marctc commented on #142
Hi @ysharoiko,
Try changing this: https://github.com/APSL/puput/issues/122

[2018-02-12 17:10] marctc commented on #138
@NathanQ do you still have this issue?

[2018-02-13 06:53] autoferrit commented on #146
I have this issue as well, will this be released / fixed any time soon?

[2018-02-13 08:19] marctc commented on #146
Hi @autoferrit. I uploaded a new release (0.9.2). Can you try it now?

[2018-02-13 14:32] kennybrich opened #149 "El Pagination Show_Paginator printing objects in plain text"
I had an issue with my Puput project where the show_paginator tag in my blog would show the El Pagination objects as raw text instead of clickable links.

I was able to resolve the issue by removing the El Pagination templates within Puput, removing the puput "paginate" and "show_paginator" tags, and including the El Pagination app separately in my project.

I don't know what was the cause of this

[2018-02-13 15:26] marctc commented on #149
Hi,
Try updating the django-el-pagination. We will release a new patch soon changing the default version in setup.py for django-el-pagination.

[2018-02-13 15:28] kennybrich commented on #149
I did try multiple versions of el pagination. Specifically, 3.2.4 and 3.2.3, with the same result.

[2018-02-13 15:32] csalom commented on #149
Hi,
Try to use django-el-pagination==3.1.0.
I get the same issue and this version solves it.
As @marctc said we will work in a new patch as soon as possible.

[2018-02-13 15:39] kennybrich commented on #149
Alright, I may give that a try. Thanks for all the feedback.

[2018-02-13 22:59] csalom commented on #149
I've create this [PR](https://github.com/APSL/puput/pull/150) with the fix for el_pagination>=3.2.1

[2018-02-13 23:13] #149 closed

[2018-02-15 16:28] NathanQ commented on #138
@marctc sorry, I'm not and don't know the origination or project change to get past the problem.

[2018-02-15 16:28] #138 closed

[2018-02-15 16:49] marctc commented on #139
@pjmcdermott can you check if it works with the last version?

[2018-02-21 16:32] pjmcdermott commented on #139
@marctc Sorry, no. Switched away from Puput/Wagtail to Pinax due to the
various issues I encountered.

On 15/02/18 16:49, Marc Tudurí wrote:

[2018-03-02 14:40] yvess opened #151 "support wagtail 2.0"
wagtail 2.0 was released! time for puput to follow!

It would be nice if puput would be soon compatible.
I have seen this pull request #147, but there doesn't seem to be much in it.
Is somebody working at it?

[2018-03-04 18:26] marctc commented on #151
Hi @yvess,
I think that nobody is working on it because the release of wagtail 2.0 is quite recent. I just opened the PR to see if the tests pass but it seems that some work is needed in order that puput will work with wagtail 2.0. Are you able to do it?

thanks

[2018-03-04 18:29] MiltonLn commented on #151
I think I can help with this :)

[2018-03-05 21:25] marctc commented on #40
@albcunha @sabueso it seems that with new wagtail editor this issue won't need to develop. We appreciate your economical effort, but maybe it will fair if nobody earns that money. What do you think?

[2018-03-05 21:26] #142 closed

[2018-03-06 00:14] FlipperPA commented on #40
What still needs doing here? I thought it was mostly complete, but its honestly been quite a while now and would probably need some tweaks for Wagtail 2.0. :)

[2018-03-06 02:19] MiltonLn commented on #40
@FlipperPA, we are just going to support wagtail 2.0 to use draftail, that would solve all of our needs, I'm taking care of that this week

[2018-03-06 04:14] albcunha commented on #40
I think my share can be donated to you. After all, you deserve free beer on the house!

[2018-03-06 09:21] yvess commented on #151
When I need it and nothing already is available I will try to work on it, or help somebody else to speed it up.
It would be great if anybody who works at it would make a link to his branch in this issue.

I just want to prevent that multiple people work on the same thing.

[2018-03-06 09:44] marctc commented on #151
@MiltonLn will do it. So don't worry about it.

[2018-03-06 20:03] FlipperPA commented on #40
@MiltonLn Right on, good to hear! I'm sticking with the structured content approach of StreamField with Peregrine, so that'll be a nice differentiation.

[2018-03-06 20:04] marctc commented on #40
@FlipperPA can you show us a screenshot of how it looks?

[2018-03-06 20:14] FlipperPA commented on #40
Sure! Here's the site: https://PyPhilly.org/ The ABOUT page has an image header example. It's running entirely Wagtail 2 on Django 2. The backend is using Zappa to run on AWS Lambda serverless with SQLite on S3. Total cost: $0.56 to host last month! :)

And here's the editor:

![peregrine-page-editor](https://user-images.githubusercontent.com/68164/37055869-cd37dcea-2150-11e8-897c-927f64ce56a1.png

[2018-03-08 02:16] sky-code commented on #151
I hope it does not take long, I really need this update

[2018-03-09 06:14] MiltonLn commented on #151
I've made a really good progress on this, now I have Puput working with wagtail 2.0 but I realized that the wagtail team didn't add the  `Code Snippet` or `Blockquote` to Draftail by default.

I could implement the `Blockquote` and now it's working, but I'm struggling with the `Code Snippet` one. There is a huge lack of documentation on how to implement those draftail features, I've been working w

[2018-03-11 00:11] MiltonLn commented on #151
Take a look at #152 😄

[2018-03-11 05:13] MiltonLn commented on #146
Closing this due to the release @marctc mentioned, please re-open if the issue still exists.

[2018-03-11 05:13] #146 closed

[2018-03-11 05:15] MiltonLn commented on #143
Closing this due to the answer provided by Marc, please re-open if this is still an issue.

[2018-03-11 05:15] #143 closed

[2018-03-11 05:19] MiltonLn commented on #139
If the issue still exists please re-open

[2018-03-11 05:19] #139 closed

[2018-03-11 18:13] #43 closed

[2018-03-11 18:19] marctc commented on #40
@albcunha @sabueso do you think that the options that draftail provide by default (https://springload.github.io/draftail/) is enough or we need something special?

[2018-03-12 14:25] albcunha commented on #40
I agrree with Milton regarding highlighted code. The alternative given by Flipper Works great as well. But there's a dealbreaker for me. Sometimes I embed iframes. Would it be difficult to allow it to edit the HTML source code?

[2018-03-12 14:32] albcunha commented on #40
I agrree with Milton regarding highlighted code. The alternative given by Flipper Works great as well. But there's a dealbreaker for me. Sometimes I embed iframes. Would it be difficult to allow it to edit the HTML source code?

[2018-03-12 19:39] FlipperPA commented on #40
That's a tricky one, especially with Draftail as there is not HTML stored in the database. It stored the whole editor area as JSON, which is rendered to HTML on demand. It might be necessary to create some sort of IFRAME or RAW HTML button for those cases, that just renders whatever you put into the field exactly as it appears.

[2018-03-12 19:42] MiltonLn commented on #40
I agree with @FlipperPA, Is also worth saying that kind of feature is away the scope of this project, maybe that can be better handled directly on Wagtail project.

[2018-03-16 16:01] vrocha opened #153 "Canonical URL support"
It would be great if there was by default a field in the wagtail admin to enter a canonical URL just for those instance that you are copying a blog post from an outside website.

[2018-03-20 21:43] marctc commented on #153
You mean this: https://github.com/APSL/puput/blob/master/puput/templatetags/puput_tags.py#L71?

[2018-03-22 21:16] Jeanluis019 commented on #47
@marctc the issue referenced is closed is that option coming in the future?, or how can I implement it myself?, I accept suggestions.

[2018-04-03 19:10] #151 closed

[2018-04-11 13:04] CptSupermrkt opened #155 "Purpose of blog_page's header image?"
Heya, this is potentially a dumb non-issue that I'm just not quite understanding, but even with the latest git clone as of today, the blog_page allows uploading of a Header image, but it seemingly has no effect, as it doesn't appear anywhere in the actual blog index.

In the blog_page template it *is* utilized as part of the social sharing section (view source clearly shows me that my header image

[2018-04-11 13:12] csalom commented on #155
Yes, you're right. It will be done ASAP

[2018-04-13 00:37] drew3000 commented on #153
Would be neat if you could upload the actual files to compare work to. Some of the headings you site in base.py don't exist and some things like the url patterns give back errors when trying to run the migration. I'm assuming this is because I'm missing something.

[2018-04-13 00:38] drew3000 opened #156 "Source files for base.py, other changed files"
Would be neat if you could upload the actual files to compare work to. Some of the headings you site in base.py don't exist and some things like the url patterns give back errors when trying to run the migration. I'm assuming this is because I'm missing something.

[2018-04-13 15:59] webforge opened #157 "Update docs for Wagtail 2 (as plugin)"
The [Installation on top of Wagtail](http://puput.readthedocs.io/en/latest/setup.html#installation-on-top-of-wagtail) section of the docs still refers to old (Wagtail <2.0) app names `` wagtail.contrib.wagtailsitemaps`` and ``wagtail.contrib.wagtailroutablepage`` which are now called ``wagtail.contrib.sitemaps`` and ``wagtail.contrib.routable_page`` respectively (as mentioned correctly in the [Sta

[2018-04-13 16:13] marctc commented on #156
Sorry, but I don't understand your problem. Can you provide the output error?

[2018-04-16 01:59] sanastasiou opened #160 "NoReverse exception for any kind of live page"
Hi and thank you for this package. I've followed the installation manual and everything worked well, except for when I try to create any page and then click on the live version of it.

All my pages return with a NoReverse exception.

![image](https://user-images.githubusercontent.com/2955627/38786771-4b1b01c0-412a-11e8-9e01-50b89f6faa0a.png)

I've tried the hacks found here:

https://github.com/AP

[2018-04-18 21:10] sanastasiou commented on #160
Fixed by setting these two settings:

[code]

[2018-04-18 21:10] #160 closed

[2018-04-20 17:37] veronicabasso opened #161 "relation "wagtailcore_page" does not exist"
It's not a bug, it's a problem caused by me, and I would be grateful if someone can help me.

I am using django-1.11 and postgresql database. I wanted to implement blog using puput django package. I have deleted all the tables for wagtail and puput (a big mistake). Now when I run `puput_initial_data` I get the following error:

[code]
Can somebody please help me?

[2018-04-20 17:43] zugspitze opened #162 "puput.models.DoesNotExist: BlogPage matching query does not exist."
Thanks a lot for providing puput package. I am trying to use it for my website. However, I have some issues in making it work.

I can access the blog_admin site but not the blog site. When I try to fix the tree in wagtail using './manage.py fixtree', I get the following error:

puput.models.DoesNotExist: BlogPage matching query does not exist.

I accidentally deleted the blog page from the blog_ad

[2018-04-20 17:43] MiltonLn commented on #161
Hi, please can you paste your requirements? (`pip freeze`)

[2018-04-20 17:54] veronicabasso commented on #161
Hi @MiltonLn , Thanks for your quick response. Here is my output for `pip3 freeze`:
[code]

[2018-04-20 18:33] MiltonLn commented on #162
Hey @zugspitze thanks for using Puput!

Because Puput is built on top of Wagtail's ecosystem, the blog is a page itself and you shall not delete it.(I've read through the documentation and we are not giving that warning @marctc should we improve that section in docs right?)

I've replayed your issue and it was quickly solved by running `python manage.py puput_initial_data` again to re-create the b

[2018-04-20 18:38] zugspitze commented on #162
After running `python manage.py puput_initial_data`, I get the following error:
[code]

[2018-04-20 18:38] MiltonLn commented on #161
Ok, I read that you deleted all the tables, maybe it's a dumb question but, did you migrated them back? If you didn't please migrate them again and tell me if this solves your issue.

[2018-04-20 18:41] veronicabasso commented on #161
I migrated them again. However, wagtailcore_page relation isn't created.

[2018-04-20 18:43] MiltonLn commented on #161
But did you do that deleting the whole database? because Django tracks the migrations and if you manually deleted the tables from database the migrations would be marked as done.

[2018-04-20 18:46] veronicabasso commented on #161
I didn't delete the whole database, only tables for wagtail and puput. I will try to rollback my migrations and retry again.

[2018-04-20 18:59] MiltonLn commented on #162
Are you really sure that you deleted the Blog Page? because that error in `puput_initial_data` only appears when you didn't, you can check it in django shell by running `Page.objects.get(title="Blog", slug='blog')` and it will print something like `<Page: Blog>`

[2018-04-20 19:05] zugspitze commented on #162
It gives an error:
[code]

[2018-04-20 19:07] MiltonLn commented on #162
You need to import `Page` model, the whole process is:

1. Activate your virtualenv
2. go to `python manage.py shell`
3. Run this code:

[code]

[2018-04-20 19:09] zugspitze commented on #162
Ahh, sorry forgot to import model. Now I get the following error:
[code]

[2018-04-20 19:15] MiltonLn commented on #162
Woah, that's weird. But the important thing about the process is that you shall not delete the blog page. If you are in early development phases you can reset your db and set it up again (migrate and puput_initial_data) to have it working again. Maybe you can manually create it by reading through `puput_initial_data` command code.

Anyway you should create a Blog Page as is described in `puput_ini

[2018-04-20 19:18] zugspitze commented on #162
Unfortunately, it's in production. And, there are other entries in the database.

[2018-04-20 19:24] MiltonLn commented on #153
@vrocha is your need solved with Marc's answer?

[2018-04-20 19:27] MiltonLn commented on #40
Closing this because we are now supporting Wagtail 2.0 and its cool Draftail editor, please reopen if something different is needed.

[2018-04-20 19:27] #40 closed

[2018-04-20 19:29] MiltonLn commented on #16
Closing this because it's possible on Django since 2016

[2018-04-20 19:29] #16 closed

[2018-04-20 19:34] zugspitze commented on #162
Is it possible to create a separate database for puput? So that I can keep my other database untouched.

[2018-04-23 23:57] johnfraney commented on #162
@zugspitze You can configure multiple databases in Django and even specify that certain apps interact with a specific database. Check out the [Database routing](https://docs.djangoproject.com/en/2.0/topics/db/multi-db/#an-example) example for a quick run-down on how to set this up.

[2018-05-02 20:49] corpulent opened #164 "arrow.gif does not exist, collectstatic fails"
I am getting this error when i run `python manage.py collectstatic`.

[code]

It looks like `arrow.gif` does not exist.

[2018-05-07 13:44] maximekl commented on #161
i had the same problem, short story :
- Installed Waigtail version > 2
- Installed Puput version > 1
- Using Django 1.11

I had the code for Django 2.0 with migration, i downgraded to waigtail 1.13 and Puput 0.9.2, removed all table related and cleared row related in django_migrations.

Do migrate and puput_initial_data and it will work

[2018-05-07 15:40] MiltonLn commented on #161
Thanks for your help @maximekl

[2018-05-07 17:19] mina-gaid commented on #164
Having the same issue here. The gif was either moved/removed or the CSS is pointing in the wrong location

[2018-05-17 10:57] #164 closed

[2018-05-23 19:21] boboysdadda opened #166 "Unable to enter code blocks"
I am unable to enter a code block. I was going to copy the blocks.py file and add the needed code but it only comes with a .pyc.   Is there any intent of adding code block support such as https://github.com/FlipperPA/wagtailcodeblock instead of just an unformated line of code?

[2018-05-26 16:15] rossi1 opened #167 "Not compatible with django 2.0"
from django.core import urlresolvers
ImportError: cannot import name 'urlresolvers'

[2018-06-08 10:05] hnjogu commented on #50
experiencing the same problem
  File "C:\Python27\lib\importlib\__init__.py", line 37, in import_module
    __import__(name)
ImportError: No module named compressorme problem

[2018-06-13 12:30] marctc commented on #167
Which version are you using?

[2018-07-07 13:18] filippovd20 opened #168 "Add wagtail 2.1 support"
Wagtail 2.1 brings a host of new features and improvements http://docs.wagtail.io/en/v2.1.1/releases/2.1.html
Puput is currently incompatible with wagtail v2.1

[2018-07-19 10:23] #167 closed

[2018-07-22 01:38] lanshark commented on #168
Are you sure about that?  I have a copy of bakerydemo that I've upgraded to wagtail 2.1, with puput instead of the simple blog.  I'm not seeing any incompatibilites except the message when I pip install that the requirements don't match.  I have not tried extensive testing, but everything I've done so far seems to work.

[2018-07-25 11:47] csalom commented on #168
Hi!
@filippovd20 Can you bee more specific about the incompabilities that you have mentioned, please?
I've testes puput with wagtail 2.1 and I didn't find any problem.

My requirements are:
* Django==2.0.1
* wagtail==2.1
* puput==1.0.2
* django-el-pagination==3.2.1
* django-social-share==1.1.2
* django-colorful==1.2

[2018-08-06 10:26] filippovd20 commented on #168
Looks like there are no real incompatibilities with wagtail 2.1 other than deafult puput requirements for wagtail 2.0. I've tested it on my project and all seems to be working fine.
All you need to switch to v2.1 is once the package is upgraded do makemigrations and migrate new wagtail user and admin models (wagtail added avatar support in user models).

[2018-08-06 10:52] csalom commented on #168
That's great!
The default puput's requirements have been updated in PR #169.

[2018-08-06 12:09] #168 closed

[2018-08-09 06:51] Konstantin555 opened #170 "Subscrption form to new blog posts"
Is there an easy way to add some kind of subscription form to new posts when using puput? I mean I would like to add a little form to my blog so users can type their email addresses and click 'subscribe' so, from that moment, an email will be sent to announce any new post to the blog. If not what is the good strategy to add such functionality?

[2018-08-27 06:58] junhao1996 commented on #50
you can use pip install django_compressor

[2018-08-28 12:15] hnjogu commented on #50
yah thanks it have worked

[2018-09-09 01:31] MIKNOTAURO opened #173 "Support Wagtail 2.2.x"
HI guys!
Any plan/roadmap to add support for Wagtail 2.2.x?

[2018-09-10 14:00] MIKNOTAURO commented on #173
I was getting this
![image](https://user-images.githubusercontent.com/2102746/45300876-21a07e00-b4d5-11e8-8b67-de2ef800c28e.png)

And I just did >>>pip install wagtail==2.2.2 (to upgrade wagtail)

And after that, I got this

Unhandled exception in thread started by <function check_errors.<locals>.wrapper at 0x7f825b310950>
Traceback (most recent call last):
  File "..../EnvBlogService/lib/python3.

[2018-10-10 19:18] timcknowles opened #176 "blog_admin returns a 404 error"
I have followed the docs to add puput to an existing wagtail project.

I seem to be able to view a blog at http://127.0.0.1:8000/blog. I can create new posts by making child pages of /blog. However if I try to edit the blog via http://127.0.0.1:8000/blog_admin/ I get a 404 error

Request Method: | GET
-- | --
http://127.0.0.1:8000/blog_admin/
wagtail.core.views.serve

Any ideas much appreciated?

[2018-10-10 19:20] timcknowles opened #177 "Can't upload a header image"
Puput install on top of wagtail

clicking on upload header image doesn't seem to work. It doesn't take take me through to a file upload box.

[2018-10-10 19:30] timcknowles commented on #177
Fixed by upgrading wagtail to 2.2.1

[2018-10-10 19:30] #177 closed

[2018-10-12 14:15] filippovd20 commented on #173
I'm experiencing exactly the same issue when using puput as a standalone app. Should I switch over to "installation on top of Wagtail"?

[2018-10-15 16:02] ritterasdf commented on #173
For me, the issue only appears when "PUPUT_AS_PLUGIN" is set to False in base.py. I also managed to change wagtails search function in a way that gets rid of the circular dependency but it's not a nice solution at all.

[2018-10-16 07:17] ritterasdf commented on #173
I'm pretty sure the issue with Wagtail 2.2 comes from the puput/urls.py section on 'PUPUT_AS_PLUGIN'. If blog_admin and search are commented out, puput runs fine. If those two sections are left in, the issue mentioned above appears because puput is trying to add urlpatterns which are added by Wagtail itself already.

[2018-10-17 15:13] MiltonLn commented on #173
Is anybody working yet on upgrading `puput` to be compatible with `Wagtail 2.2.x`?

[2018-10-17 20:39] marctc commented on #173
Not me. I'm too busy to work on it right now. Do you want to try it @MiltonLn?

[2018-10-17 20:40] marctc commented on #170
It could be. PR are welcome :smile:

[2018-10-23 13:29] robnardo commented on #32
Hi @carltongibson - i am having trouble removing the date in the URL - changing the links on Puput from /blog/2018/10/23/my-post-slug to /blog/my-post-slug  i was wondering if you could please help?  What are all the changes to make this happen?

[2018-10-23 13:37] robnardo commented on #32
@carltongibson - no worries.. i figured it out.. i changed <blog_slug> to <blog_path> in your code.  seems to work now.

[2018-10-23 15:50] sathishscripts commented on #173
wagtail 2.3 is released. So it would be better to migrate to this version.

[2018-10-24 08:36] csalom commented on #176
Hi @timcknowles,
can you show us how have you set puput urls, please?

[2018-11-10 13:00] MiltonLn commented on #173
Take a look at #179, once that is merged we can close this PR

[2018-11-10 13:01] #161 closed

[2018-11-10 13:12] MiltonLn commented on #176
@timcknowles Could you solve the issue? please let us know

[2018-11-12 16:15] #173 closed

[2018-11-27 15:56] robnardo opened #180 "Update setup.py to allow Django 2.1 patch versions"
Hello. BTW.. **great work on Puput!** A few months back I had to skip the normal Pypi installation and pull the source of this project because I was using newer versions of Wagtail and Django.

Now that you have updated your **setup.py** file to allow newer versions I wish to switch back.. BUT i cannot do that right now because I am using Django 2.1.3 and your setup.py does not allow it.

[Accordi

[2018-12-02 09:53] kooshan75 opened #182 "Problem with adding tags in admin portal"
I am using Puput with django 2.0.7 and wagtail 2.0.2.
My preferred language is Persian (Farsi) in admin's dashboard and one of my language letters is on the "comma" key of keyboard. So, each time I want to use that letter, tag gets submitted and I cannot add tags properly. Is there any solution to change this preference and replace that "comma" operation with something else? Am I opening this issu

[2018-12-05 12:18] kooshan75 opened #183 "Puput doesn't support Wagtail 2.3"
I use `django-taggit 0.23.0` and `wagtail 2.3` and `puput 1.0.2`.<br>
My preferred language is Persian (Farsi) in Wagtail's admin dashboard and one of my language letters is on the "comma" key of keyboard.<br> So, each time I want to use that letter, tag gets submitted and I cannot add tags properly. How can I customize ui-widget in adding/editing tags in admin's dashboard? <br>
These are the erro

[2018-12-06 12:49] kooshan75 commented on #183
Actually I'm hoping you guys accept that PR regarding compatibility with wagtail 2.3 :-D

[2018-12-06 12:49] #183 closed

[2018-12-10 13:58] ahwebd commented on #64
Hello all,
Is there an easy way to integrate [wagtailtrans](https://github.com/wagtail/wagtailtrans) with puput?
Many thanks.

[2018-12-10 16:01] #180 closed

[2018-12-16 15:46] ahwebd commented on #64
Tried the following and it seems working fine:

1. Created an abstract class from "TranslatablePage":
[code]
2. Subclassed from the previous class and the puput pages.

[code]

Any thoughts about this implementation? Any issues that might arise?

If all is fine with this method I suggest adding it to the docs.

[2019-01-12 19:11] roderik333 opened #186 "WARNINGS: ?: (urls.W005) URL namespace .."
puput==1.0.3
wagtail==2.3
Fresh install (my first entry into wagtail/puput)
[code]

If this is a bug.. for anyone else but me it can easily be solved by adding namespace to the urls, hence:
[code]
[code]
So far this looks to solve the problem..(mind I've been working with puput/wagtail for all of an hour.)

[2019-01-20 14:10] chobijaeyu commented on #186
thanks,I have solved the problem .
but other problem came out.
`ERRORS:
blog.BlogPage.page_ptr: (fields.E304) Reverse accessor for 'BlogPage.page_ptr' clashes with reverse accessor for 'BlogPage.page_ptr'.
        HINT: Add or change a related_name argument to the definition for 'BlogPage.page_ptr' or 'BlogPage.page_ptr'.
blog.BlogPage.page_ptr: (fields.E305) Reverse query name for 'BlogPage.page_

[2019-01-24 11:07] sachinsiddhpura opened #187 "django.template.library.InvalidTemplateLibrary: Invalid template library specified. ImportError raised when trying to load 'easy_thumbnails.templatetags.easy_thumbnails_tags': No module named 'filer'"

[2019-01-31 20:19] matburnham opened #188 "Support wagtail 2.4"
Wagtail 2.3 keeps telling me that it has a newer version available.  I tracked the cause down to puput's dependency on wagtail < 2.4. `puput 1.0.3 has requirement wagtail<2.4,>=2.0, but you'll have wagtail 2.4 which is incompatible.`

Is it a trivial fix to support the newer Wagtail or is 2.4 specifically excluded?

[2019-02-21 02:28] sumpfralle opened #189 "Automatically generated slugs may contain special characters"
I am using puput for a blog. The articles are written in German, thus the titles can contain umlauts.
Surprisingly the generated slugs keep the umlauts instead of converting them to ascii characters.
Thus the reverse URL resolution when browsing the blog fails, since the URL patterns allow only ascii characters.

Is this an issue of puput or should I open this issue with wagtail itself?

Thank you

[2019-03-21 20:43] sam-mi commented on #188
This line produces an offline compression error when using compressor with 2.4 and wagtail react streamfield 1.2.0 in prodution:

https://github.com/APSL/puput/blob/c3294f6bb0dd784f881ce9e3089cbf40d0528e47/puput/templates/wagtailadmin/pages/_editor_css.html#L8

It looks like the file might not even be needed any more? Overriding that template by copying the file from wagtail into the project solve

[2019-04-02 21:32] climu commented on #189
As one can see in the referenced issue, this gave us some trouble too.

[2019-04-18 02:01] Fandekasp commented on #188
Is Puput still actively maintain? I was considering using it, but the lack of recent commits and roadmap is a bit worrying.

[2019-04-18 14:15] MiltonLn commented on #188
Hi, thanks for reporting, I'll take a look in the coming days.

@Fandekasp it is actively maintained, just haven't had the bandwidth to tackle some issues, there's not so much pending work to update it though. PRs are welcome :D

[2019-04-20 06:38] auvipy opened #191 "Reverse for 'entry_page_serve_slug' not found"
uring template rendering
In template /home/asif/upwork/mezprs/phoblog/puput/templates/puput/base.html, error at line 26

Reverse for 'entry_page_serve_slug' not found. 'entry_page_serve_slug' is not a valid view function or pattern name.

[2019-04-20 06:40] auvipy commented on #188
uring template rendering
In template /home/asif/upwork/mezprs/phoblog/puput/templates/puput/base.html, error at line 26

Reverse for 'entry_page_serve_slug' not found. 'entry_page_serve_slug' is not a valid view function or pattern name.

[2019-04-20 07:10] auvipy commented on #188
https://github.com/APSL/puput/pull/192 opened to fix existing incompatibilities please review and suggest fixes

[2019-04-20 19:56] AkshJain99 commented on #23
is there any solution to fix this issue?

[2019-05-04 06:42] eskhool opened #193 "Native comments"
Hi Guys,
 What will be a recommended approach to add a native comment engine as an option?

Or maybe a new app called puput-comments for those cases where we want a built in comment engine instead of a social engine (like disqus/facebook etc.)

[2019-05-05 17:37] MiltonLn commented on #193
I can think about a couple of options to handle this:

* A separated repo (`puput-comments`) to implement this and adding it with pip + INSTALLED_APPS
* A new app inside a `contrib` folder in the project with the models and code necessary to support this.

I like the second approach better. In any case, this should be an optional feature configurable through Django settings.

Are you interested in

[2019-05-05 22:40] MiltonLn commented on #99
Since we removed the demo site from docs, I'm just going to close this

[2019-05-05 22:40] #99 closed

[2019-05-05 22:41] MiltonLn commented on #189
Fixed!

[2019-05-05 22:41] #189 closed

[2019-05-05 22:47] MiltonLn commented on #191
Does it seem like you are reversing `entry_page_serve_slug` from your custom change for the base template?

Could you please elaborate a little bit more on this issue? maybe provide the actual source code from your `base.html` file around line 26.

Thanks!

[2019-05-05 22:48] MiltonLn commented on #176
Closing, if this is still causing problems for you @timcknowles please reopen

[2019-05-05 22:48] #176 closed

[2019-05-05 22:57] MiltonLn commented on #166
Since we provide support to extending the Entry Page model, there's no need to provide built-in support for `wagtailcodeblock` or similars.

Just follow this guide to extend the Entry Page model and add your own `StreamField` for the body using `wagtailcodeblock` ;) let me know if you still need help with this.

[2019-05-05 22:57] #166 closed

[2019-05-05 23:02] MiltonLn commented on #162
Closing it, please reopen if this is still an issue.

[2019-05-05 23:02] #162 closed

[2019-05-05 23:10] marctc commented on #187
Doesn't seems a problem with puput. If you have any more details on this issue, please reopen it.

[2019-05-05 23:10] #187 closed

[2019-05-05 23:13] MiltonLn commented on #23
It is already fixed @AkshJain99 if you find it isn't please open a detailed issue so we can tackle it

[2019-05-06 02:49] auvipy commented on #191
fixed in master

[2019-05-06 02:49] #191 closed

[2019-05-11 12:20] lucasmoeskops commented on #186
You get this error because you have both installed Wagtail and Puput in your site's urls.py.

Two options:
* Remove the wagtail urls (and imports), Puput will manage them for you. Note that `/admin` becomes `/blog_admin`.
* Add `PUPUT_AS_PLUGIN = True` to your settings file, now Puput will leave managing wagtail urls to you.

[2019-05-11 12:21] lucasmoeskops commented on #188
This seems fixed in the master branch but not yet on PyPI.

[2019-05-11 13:18] eskhool commented on #193
If we do develop this, we will be happy to raise a PR for the same. I agree that the second approach makes more sense since on its own puput-comments does nothing.

[2019-05-13 12:35] marctc commented on #188
ok, i will releasae a new version then

[2019-05-13 14:22] MiltonLn commented on #186
Thanks for the answer @lucasmoeskops, I'm closing this now, if you're still having problems with this please reopen @chobijaeyu @roderik333

[2019-05-13 14:22] #186 closed

[2019-05-20 21:50] mabdullahabid opened #195 "Preview draft gives Internal Server Error"
Everything works perfectly but previewing a draft gives an Internal Server Error.

Am I doing something wrong or is that functionality not built yet?

[2019-05-20 21:56] MiltonLn commented on #195
Hi @wulaaf, thanks for reaching out to us,

Could you please describe with more detail the process you are following to get that error?

[2019-05-20 21:57] MiltonLn commented on #188
Did you released @marctc ?

[2019-05-20 23:37] marctc commented on #188
Sorry for the delay. Done now!

[2019-05-20 23:37] #188 closed

[2019-05-21 10:33] wulaaf commented on #195
Sure! I followed the instructions on the docs to install puput. Everything worked fine on localhost with ./manage.py runserver. However, when I moved it to a staging website where I use gunicorn to run django with nginx.

Publishing and viewing the page works fine, however, when I PREVIEW a draft or an edited post, I get the following errors:
- Blog page gives a Bad Request (400)
- Blog post page

[2019-05-21 12:09] marctc commented on #195
Hi @wulaaf, can you try with version that I released yesterday?

[2019-05-22 07:07] auvipy opened #196 "After creating a new page and child page and bog entry, error shown instead of the page."
Exception Type: NoReverseMatch at /pellet-pals-gunners-blg/hastan-rifle-review/
Exception Value: Reverse for 'entry_page_serve_slug' not found. 'entry_page_serve_slug' is not a valid view function or pattern name.

[2019-05-27 08:43] Konstantin555 commented on #195
Hi @marctc, I have the same issue even with 1.0.4 (wagtail 2.4). When I click on Preview (for a post that was created not by the admin but by a user that is in groups Editors and Moderators) on production server from a page like /blog_admin/pages/16/edit/ i got 500

`Internal Server Error: /blog_admin/pages/16/edit/preview/

NoReverseMatch at /blog_admin/pages/16/edit/preview/
Reverse for 'entries

[2019-05-27 09:29] marctc commented on #195
Can you check if this is related to #122?

[2019-06-12 13:15] ultimatesanjay opened #197 "Internal server error when uploading pictures"
Firstly, I would thank APSL for creating this amazing repository.

The problem is when uploading/searching pictures. Searching for images do not work. It gives me internal 500 server. Could you send me instructions on how to solve this?
Im a newbie to this. Thank you.

[2019-06-12 14:28] marctc commented on #197
@ultimatesanjay please, paste here the full trace with the failure. Error 500 is too broad to see what happend

[2019-06-13 10:10] ultimatesanjay commented on #197
Sorry, I'm quite new to this. Can you send me instruction on how to trace the failure?

Django | 2.2.1
Python LSAPI | 1.4
OpenLiteSpeed | 1.4.42
acme.sh | 2.8.0

[2019-06-13 13:32] thclark opened #198 "no_reverse_match error where django username is an email address"
### Summary

If the django user model is modified such that the email address is treated as a username, the  `entries_by_author` route cannot find a reverse match, resulting in server error.

[Here are the places where `entries_by_author` are defined and used in puput.](https://github.com/APSL/puput/search?q=entries_by_author&unscoped_q=entries_by_author)

### Error details

[Here is how to do dja

[2019-06-13 13:34] marctc commented on #198
Take a look at this: https://github.com/APSL/puput/issues/122

[2019-06-13 18:03] thclark commented on #198
Yup, v. similar issue

[2019-07-19 14:40] reyesvicente opened #200 "Article Page showing error 404"
After making the article, the blog_page shows but when I click on the link of the article/post, it returns a 404. I followed the instructions on how to install it ontop of wagtail.
![Screen Shot 2019-07-19 at 10 37 35 PM](https://user-images.githubusercontent.com/45283313/61543491-309d7880-aa76-11e9-9717-fbedff3b97d7.png)

[2019-08-02 13:12] pySilver opened #201 "Bump compatibility in requirements to 2.6"
There seems to be no breaking changes. Unfortunately I'm unable to run tests due to some unrelated issue.

[2019-08-05 23:22] sakharovaan opened #202 "Remove google+ sharing button from pages"
For example:
https://github.com/APSL/puput/blob/master/puput/templates/puput/entry_page.html#L77

Because it is closed, actually. When I'm trying to push this button, all I get is Google [apologies](https://plus.google.com/up/?continue=https://plus.google.com/share?url%3Dhttp://localhost:8080/2019/08/04/contacts/), because of Google+ network shutting down for consumers.

https://www.theguardian.co

[2019-08-06 09:06] marctc commented on #202
Thanks for reporting @sakharovaan. Do you mind to create a PR to fix this?

[2019-08-09 09:34] marctc commented on #201
Fixed

[2019-08-09 09:34] #201 closed

[2019-08-09 13:40] loleg commented on #200
Works fine for me with Wagtail 2.5.2 and the latest Puput release. Make sure your Site is correctly configured, the Blog homepage as well as the article are fully published. Then click the *View Live* link in the admin. How about the preview from the editor? If that still doesn't work, make sure you've gone through all the [setup steps](https://puput.readthedocs.io/en/latest/setup.html).

[2019-08-14 02:12] MIKNOTAURO opened #205 "Add setting to choose what fields to export through api_fields wagtail feature"
Hi guys,
I need to build an API REST for a puput project.
My first attemp to achieve this was to extend the EntryPage model through EntryAbstract. But I realized that I just need to add api_fields to EntryPage model to make it work.
So,I think that it would be nice to have a setting (like a list for example) to choose what fields in EntryPage model to export through API feature of wagtail.
Btw, no

[2019-08-14 22:28] RmaxTwice commented on #200
I get the same error. The _View Live_ link works well as expected in my case the url has the following structure:
`localhost:8000/pages/blog/my-first-blog-post/`

But when you are on the blog main page with the post list, if you click any of the posts main title or _Continue reading >>_ links, it displays a 404 error because those links have the following structure:
`localhost:8000/pages/blog/2019

[2019-08-15 20:39] RmaxTwice commented on #200
This issue was my fault, I included wagtails urls before puput ones in the project urls.py file. With an order swap the error was resolved.

[2019-08-20 13:59] sakharovaan commented on #202
Excuse me, I didn't have time. I see that it was fixed yesterday.

[2019-08-20 13:59] #202 closed

[2019-09-05 11:27] GenesisEX opened #207 "Link URL date part in "Continue reading" seems wrong"
http://example.com/blog/example-blog/2019/09/05/example-article/

The part "/2019/09/05/" is wrong. It should be "/2019/09/04/".

[2019-09-05 11:36] GenesisEX commented on #207
I changed the "blog" to "pages" in urls.py file. Now URL works without error. Although, the link is "2019/09/05", but the date displayed on article is "2019/09/04".

[2019-09-05 11:36] #207 closed

[2019-09-09 16:01] loleg opened #208 "Show category description"
Related to #34, it would be great to show the description field of the Category on the search result page. However, currently only the name of the category is accessible in the template via `entries_by_category` in [routes.py](https://github.com/APSL/puput/blob/f298f14428b62cc3b607115c706e219fb9a9345f/puput/routes.py#L41). While #94 contains basically a workaround to this, from a user perspective

[2019-09-09 16:17] loleg commented on #94
Based on the code suggested above, I've added details of the category in my `blog_page.html` template as follows:
[code]

[2019-09-12 21:24] sailorsamoor opened #209 "Extending Entry Page"
Hello. I tried to extend  Entry Page as it wrote in docs (add VideoUrl), all works, but I don't see the changes in Wagtail admin. May be good idea is add this lines into custom model?

[2019-09-22 10:21] yedpodtrzitko commented on #209
hi,
did you follow the following steps in docs regarding [Registering Entry Extension](https://puput.readthedocs.io/en/latest/extending.html#registering-entry-extension) and running migrations?

[2019-09-22 11:29] sailorsamoor commented on #209
Yes, I did, I quess that I hadn't new fields in Wagtail Admin seen. I did as I wrote - all works, thanks.

[2019-09-22 16:29] yedpodtrzitko commented on #209
No problem. Would you mind closing the issue?

[2019-09-22 16:35] #209 closed

[2019-10-30 08:53] vanducng commented on #149
This works bro, thank you.

[2019-11-25 13:53] pySilver opened #210 "2.7 support"
Do we have any blockers for 2.7 support? Current setup requires:

[code]

[2019-11-30 02:35] Joaxin commented on #210
yes, we need this update.
![image](https://user-images.githubusercontent.com/8346164/69894621-14cbac80-135d-11ea-8796-fffbe7fcce2d.png)

[2019-11-30 11:23] #200 closed

[2019-11-30 11:23] #195 closed

[2019-11-30 11:25] #197 closed

[2019-12-01 19:33] pySilver commented on #210
closing issue since patch is merged.

[2019-12-01 19:33] #210 closed

[2019-12-07 08:13] michalpleszczynski opened #212 "`puput_initial_data` fails on clean installation"
Hi,

Looks like following the "Standalone blog app" instructions will result in `puput.models.DoesNotExist: BlogPage matching query does not exist.` exception, when running `python manage.py puput_initial_data` step.

From what I can see the problem is caused by the fact that at the beginning of `puput_initial_data` we're getting content type for `BlogPage` class, but then creating a `Page` object

[2019-12-07 13:02] marctc commented on #212
Please! :smile:

[2019-12-09 05:47] michalpleszczynski commented on #212
PR #213

[2019-12-10 14:58] #212 closed

[2019-12-15 17:04] climu commented on #193
Just want to share my interest in this feature for [OpenStudyRoom](https://openstudyroom.org) website.

I don't have time to work on that but would definitely use it and be grateful if it get done.

[2020-02-22 01:58] shimmerh opened #214 "Please update puput in pip"
An goodman has fixed #213 , but pip is not updated, and  command puput_initial_data is necessary for start puput.

[2020-02-24 13:41] michalpleszczynski commented on #193
In my fork I added a possibility for new comments providers and added one that uses django-comments. If this is of interest to the project, comments are welcome on the PR #215

[2020-02-29 08:12] qqgit commented on #214
This is a necessary fix to run puput_initial_data. Pip is not updated yet.

[2020-03-01 17:24] marctc commented on #214
Done, sorry for the delay

[2020-03-01 17:24] #214 closed

[2020-03-01 22:03] #45 closed

[2020-03-16 21:36] #193 closed

[2020-03-23 10:09] dpetrov opened #216 "Duplicate pages"
I use Puput as a Plugin and recently have updated my wagtail and puput instance to the latest available:

[code]

and I use `django.contrib.sitemaps` to generate a sitemap.xml file. I see currently, that the sitemap.xml includes the links in a format: `/blog/slug` and not in `/blog/year/month/day/slug` which results to a duplicate indexing from google and duplicate content. Both pages serve also t

[2020-03-31 19:50] hazho commented on #65
thanks for this awesome topic, can you share Steps please????

[2020-04-01 18:20] dpetrov commented on #216
Closing this one as it's merged.

[2020-04-01 18:20] #216 closed

[2020-04-17 06:06] lanshark opened #218 "Django 3.0 support?"
Any idea what needs done?  I may be willing to pitch in, but thought I would ask first.

[2020-04-17 08:23] hellyworld commented on #218
This will be great!

[2020-04-18 03:07] lanshark commented on #218
https://github.com/APSL/puput/pull/219

I had to drop support for python 3.5 (Django 3.x only supports 3.6+)

All tests pass, no other changes were required.

[2020-04-19 22:45] marctc commented on #218
Did you do some manual testing?

[2020-04-20 14:33] MiltonLn commented on #218
We really need to figure out a way to add automatic testing to the project, I didn't find Wagtail framework comfortable to do so, and the functional tests were too complex.

[2020-04-20 19:30] lanshark commented on #218
I will be doing some manual testing as well, just need to get the test app running and give it a try

[2020-05-15 18:31] lanshark commented on #218
I made the requested change, and updated the PR.  As far as I can determine, this is working.

[2020-05-16 16:12] loleg opened #222 "Django Comments are now required"
Currently the [setup guide](https://django-contrib-comments.readthedocs.io/en/latest/quickstart.html) or [comments chapter](https://puput.readthedocs.io/en/latest/comments.html) makes no mention of [Django Comments](https://django-contrib-comments.readthedocs.io/) - but I am getting this error from **compress**:

[code]

Adding it to my project (`django.contrib.sites` and `django_comments` in `INS

[2020-05-18 15:36] loleg commented on #222
Adding `django.contrib.sites` breaks things (like the admin panel, ahem..) in Wagtail, so this is not a good workaround. If anyone has other ideas of how to deal with this error, please let me know.

[2020-06-12 16:44] lanshark commented on #218
Thanks for merging that!

[2020-06-12 16:44] #218 closed

[2020-06-19 04:59] Maduflavins commented on #23
having same error

[2020-06-27 09:37] DarkArtek opened #225 "No Reverse Match in sitemap"
NoReverseMatch at /sitemap.xml
Reverse for 'entry_page_serve_slug' with keyword arguments '{'blog_path': '', 'year': '2020', 'month': '06', 'day': '24', 'slug': 'garo-byakuya-no-majuu'}' not found. 1 pattern(s) tried: ['(?P<blog_path>.+)/(?P<year>[0-9]+)/(?P<month>[0-9]+)/(?P<day>[0-9]+)/(?P<slug>[^/]+)/$']

[2020-07-01 06:53] jbgury opened #226 "Translation files not compiled on pypi delivery"
When using the installation from pip command :
`pip install puput`
the component is installed succesfully, but the translation files are not compiled.
Using the puput apps into django causes that the default translation is displayed and there is no translation supported into templates or admin.
a workaround is to trigger the compilation of the translation files by browsing to the site-packages and

[2020-07-16 16:36] CVYY39 opened #227 "More example blogs"
I think it would be useful to have more linked example blogs in the readme to show other ways of using Puput. It's kind of tough to find the really customized versions that I'm sure are out there, because they remove references to Puput. Here is one to potentially add to the list:

- https://ipde.com/

[2020-08-21 16:20] zzm88 opened #229 "How to CRUD entries by code?"
I want to read and create entry pages in a view.
[code]
It turns out no result was found. However, I created an entry page in admin.
How to get the entry page objects and manipulate them?

[2020-08-27 07:18] #229 closed

[2020-09-01 11:28] michalpleszczynski commented on #222
I've added an option to use django comments in #215, the documentation was updated in that PR as well, so it looks like it needs to be pushed to readthedocs? Anyway, I'll check out the error

[2020-09-07 00:07] zzm88 opened #230 "NoReverseMatch at /sitemap.xml Reverse for 'entry_page_serve_slug' with keyword arguments '{'blog_path': '', 'year': '2020', 'month': '08', 'day': '22', 'slug': 'algorithmic-trading-the-basics-part-1'}' not found. 1 pattern(s) tried: ['(?P<slug>[^/]+)/$']"
This happens when I try to use sitemap as the documentation of Wagtail.

C:\Users\zzm\OneDrive\projects\subtitle_library\sub-library3.8\lib\site-packages\django\urls\resolvers.py in _reverse_with_prefix

line 677. raise NoReverseMatch(msg)

Variable | Value
-- | --
_prefix | '/'
arg_msg | ("keyword arguments '{'blog_path': '', 'year': '2020', 'month': '08', 'day': "  "'22', 'slug': 'algorithmic-tr

[2020-09-07 00:08] zzm88 commented on #225
I have this problem too. Have you find a solution?

[2020-09-08 04:19] diepmv commented on #225
test

On Mon, Sep 7, 2020 at 7:08 AM zzm88 <notifications@github.com> wrote:

--
------------------------------------------
Thanks & Best Regards

Mai Van Diep
Mobile: +(84) 368912110

[2020-09-08 04:19] diepmv commented on #225
test1

On Mon, Sep 7, 2020 at 7:08 AM zzm88 <notifications@github.com> wrote:

--
------------------------------------------
Thanks & Best Regards

Mai Van Diep
Mobile: +(84) 368912110

[2020-09-13 02:08] #230 closed

[2020-10-04 23:25] nstephenh opened #231 "URL issues with install over existing wagtail instance"
Hello
I'm trying to install puput over my existing wagtail instance. I've set puput to be a plugin in my settings, but I'm still running into the following error. Any help debugging would be appreciated. Thanks!

`[04/Oct/2020 22:58:08] "GET /cms/pages/7/view_draft/ HTTP/1.1" 500 175682
Internal Server Error: /
Traceback (most recent call last):
  File "/media/nsh/LinuxHDD/CGT/Code/shopcgt/venv/li

[2020-10-12 13:47] Konstantin555 opened #232 "Ordered list is displayed without numbers."
Is it a bug or did I misconfigured something?
In the editor I have ordered list:

![2020-10-12 16_46_02-Wagtail - Editing Entry_ New Article](https://user-images.githubusercontent.com/13664826/95753553-76151980-0caa-11eb-8f75-a4b1df0ffc05.png)

But it is displayed without numbers:

![изображение](https://user-images.githubusercontent.com/13664826/95753671-993fc900-0caa-11eb-8596-e5a689086a11.png)

[2020-10-12 14:30] Konstantin555 commented on #232
Also tried it with `{{ self.body|richtext}}`

[2020-10-13 16:18] CVYY39 commented on #232
The numbers work fine on my install with Django 3.0.10, Wagtail 2.10.2, and Puput 1.1.1. Does the HTML output show the <ol><li> tags? If so, sounds like a CSS issue. I'm using a custom CSS so I'm not sure if the default one may have an issue.

[2020-10-13 17:51] #232 closed

[2020-10-19 17:30] #227 closed

[2020-11-03 05:22] Anurag-117 commented on #50
I have already did that. `pip list` showss django-compressor is installed. But it still isn't working.

[2020-11-11 16:13] mands opened #233 "Django 3.1 support?"
Django 3.1 has been released - does anything need to be done to support it? Would be great if only need to bump the deps and publish the release

[2020-11-19 19:59] sailorsamoor opened #234 "Puput internationalization"
Hello, what about internationalisation? Wagtail internationalization works with Puput? Snippet does not work (categories).

[2020-11-21 23:28] tarocco opened #235 "FontAwesome files are empty (zero file size)"
When navigating to my puput site, I was getting this error in my web console:

[code]

I went to make sure that file is indeed in my puput package static files. It turns out the file(s) are there, but several of them have a file size of 0.

[code]

The files in the repository appear to be empty https://github.com/APSL/puput/tree/232b832/puput/static/puput/fonts

[2020-12-05 13:10] mands commented on #233
closing as everything seems to work on Django 3.1 when using `master` rather than the pip release

[2020-12-05 13:10] #233 closed

[2020-12-22 07:54] farlandliu commented on #225
save issue. fixed by the the following code, revise the EntryPage.models.[get_sitemap_url](https://github.com/APSL/puput/blob/f6f8d7b10fd34c0be4a91c1364d839adb2d544fb/puput/models.py#L143):

[code]

[2020-12-22 16:26] jmponce84 opened #236 "Problems with installation over existing wagtail and multilanguage"
Hi.

I'm trying to install Puput on an existing installation of Wagtail with multilanguage. However, I'm having problems once I try to run the migrations:

[code]

Any suggestion on how this can be sorted?

Thank you very much in advance!

[2020-12-22 16:51] jmponce84 commented on #236
Ok, I think I sorted it. In the `translation.py` is a matter of importing `BlogPage` with `from puput.models import BlogPage` and then adding the desired fields to be translated as usual. Or at least this is how I believe is sorted...

[2021-01-03 08:05] psyonara opened #237 "Customize BlogPage Subpage Types"
In the usecase of a single blog site (e.g. https://example.com/), one can currently have only entry pages. If I want to have different page types, e.g. Contact page, About page, etc, I believe this is not possible, because the `BlogPage` class restricts children to "EntryPage" only?

It would be nice to add to those subpage types in order to have other pages as children as well.

[2021-01-04 15:49] CVYY39 commented on #237
I worked around this by creating a new page type (which I called "RootPage") which does nothing but mirror the content of the blog. That allows other child pages (which I called "Information Pages"). It works well other than that you have to go to example.com/blog/ to add entries.

[2021-01-29 20:56] krzysieqq opened #238 "Update to Python3.9, Wagtail 2.9, Django 3.1?"
Are there any plans for an update to Python3.9, Wagtail 2.9, Django 3.1?

[2021-02-07 18:02] CVYY39 commented on #238
I'm running Wagtail 2.11.2 without issue, at least. I can't recall exactly what I did but I followed the upgrade steps on their website.

[2021-02-10 01:58] lanshark commented on #238
I am working on a PR for this now, actually.

[2021-02-15 03:06] thedern opened #239 "Circular Import Error with 'include('puput.urls')' in Django urls.py"
Per the puput documentation for configuring a standalone blog app, when adding 'path(' ', include('puput.urls'))', to my urls.py,  I receive a circlar import error when get_entry_url and get_feeds_url are imported .  See below.

Note:  I am attempting to add Puput to a django **3.14** installation.

Traceback (most recent call last):
  File "/home/thedern/code/python/django/test/djangox/venv/lib/p

[2021-03-02 07:43] VadymKhodak opened #240 "How to insert Code Snippet?"
I'm sorry for bothering you.
But I can't find a way to insert code snippets to blog text.
Is anyone here who can help me?

[2021-03-02 15:19] CVYY39 commented on #240
You can format text as code with the third button in from the left side of the toolbar on the rich text editor.

That said, I don't know whether it supports syntax highlighting without jumping through some hoops.

[2021-03-09 06:34] m1sraapurva commented on #239
For me, this error occurred when I used the instructions in [Standalone blog app](https://puput.readthedocs.io/en/latest/setup.html#standalone-blog-app) , setting up the urls.py as :
[code]

However, when I tried the [Installation on top of Wagtail](https://puput.readthedocs.io/en/latest/setup.html#installation-on-top-of-wagtail) section, the urls where included like this:
[code]
Above worked fine

[2021-03-21 01:50] lanshark commented on #239
This is also happening for me with a standard checkout of current master, when running tox.  ALL tests failed with the same error.

ERROR:   py36-dj20: commands failed
ERROR:   py36-dj21: commands failed
ERROR:   py36-dj22: commands failed
ERROR:   py36-dj30: commands failed
ERROR:   py37-dj20: commands failed
ERROR:   py37-dj21: commands failed
ERROR:   py37-dj22: commands failed
ERROR:   py37-dj

[2021-04-04 15:17] VadymKhodak commented on #240
Thank you so much!
I want to find a solution to have highlighted code snippet.
Like that
![image](https://user-images.githubusercontent.com/32848370/113513341-f3db2300-9571-11eb-9af8-0ed60e907bcd.png)

[2021-04-04 15:20] Jonas-089 commented on #200
I have the exact same issue but my url paths are in the correct order and it is still not working.
My patterns look like this:

[code]

Any idea on what the problem might be?

[2021-04-05 15:39] reyesvicente commented on #200
Can you post the traceback?

[2021-04-06 15:15] Jonas-089 commented on #200
I can't post the traceback because I already uninstalled it again, but the error was the exact same one as yours (minus the blog name). The actual article entry was linked at blog/article-name and the article link on the homepage led to blog/date/article-name.

[2021-04-11 12:13] woesoe commented on #222
I would use the documentation of django-comments-xtd instead of django-comments if I were you. I Followed all the steps in the django-comments-xtd quick start guide (https://django-comments-xtd.readthedocs.io/en/latest/quickstart.html), added `PUPUT_COMMENTS_PROVIDER = "puput.comments.DjangoCommentsProvider"` in the Django Settings and got comments to work.

When I change `django_comments.html` li

[2021-04-16 06:57] chris0chris commented on #200
I had the same error with exact the same settings. My problem was a misconfiguration of the root page.
Within the wagtail backend under: `Settings -> Sites` I selected as `Root Page` the parent page of the created blog entries and this fixed my problem.

[2021-04-16 16:21] Pei2tech commented on #239
I also got these errors as configuring the standalone blog and running the command `python manage.py runserver` However, there is no issue as using wsgi server `gunicorn xxx.wsgi `

[2021-04-17 12:39] Pei2tech commented on #240
`$ form
  x += 1
`

[2021-04-20 14:29] Pei2tech commented on #240
The wagtail-markdown can reach your requirement. please refer to the link: https://github.com/torchbox/wagtail-markdown.  After installing wagtail-markdown, you need to modify templates and follow the instruction to add Abstract base classes.

[2021-06-16 06:16] prakash243 opened #241 "Latest version puput=1.1.1 is not compatible with (Upgraded) Django=3.2.4 (LTS)"
puput 1.1.1 requires Django<3.1,>=2.1.6, but you have django 3.2.4 which is incompatible.

[2021-06-28 20:44] mirzadelic commented on #241
Any news on this?

[2021-07-14 13:05] mjagesh opened #242 "How to include extended fields in the blog search"
Hi
https://puput.readthedocs.io/en/latest/extending.html
Extended the EntryPage model as NewEntryPage  with few fields.
How to include extended fields (NewEntryPage  Model) to Blog search? Its working only based on EntryPage model search fields?

[2021-09-05 20:51] jefcolbi opened #243 "How to add table block?"
Hi,
Sorry to bother you, but i can find a way to add a Table block to puput editor.
Thanks for you patience

[2021-09-13 03:48] jestinmwilson commented on #50
pip install django_compressor  already installed but it's not working

[2021-09-16 06:23] bashu commented on #239
still not fixed

[2021-09-23 12:55] eskhool commented on #241
Yeah, some news would be nice. Even if just to say, not til XYZ date :)

[2021-09-24 15:20] marctc commented on #241
Hey. I'm not actively maintaining this repo anymore. Please feel free to open pull requests and I will merge and release new versions.

[2021-10-25 06:25] bashu opened #244 "This project needs a maintainer"
Hi,

This repository seems to lack maintenance, I propose myself as a new maintainer.

Could you give me the right to push in your repository or just transfer it on my account in github?

Thank you!

[2021-10-29 10:52] #244 closed, assigned to nobody

[2021-10-30 07:19] bashu commented on #239
works just fine with `wagtail==2.8.2` and `django==3.0.14`

[2021-10-30 09:30] #239 closed

[2021-10-30 12:27] bashu commented on #239
to @thedern and @ckz8780 can you checkout `develop` branch and let me know if it was fixed or not

[2021-10-30 12:27] bashu commented on #241
to @prakash243  and @eskhool  can you checkout `develop` branch and let me know if it was fixed or not

[2021-10-30 12:28] bashu commented on #238
to @krzysieqq  and @CVYY39  can you checkout `develop` branch and let me know if it was fixed or not

[2021-11-01 08:51] bashu commented on #237
hey, @psyonara ! @CVYY39 is right, just create your own root / home page.

[2021-11-01 08:51] #237 closed

[2021-11-01 08:54] bashu commented on #236
Wow, @jmponce84 ! Great moves. Keep it up!

[2021-11-01 08:54] #236 closed

[2021-11-01 09:22] bashu commented on #234
since `develop` branch already compatible with wagtail 2.11, I am going to fix that too

[2021-11-01 09:24] bashu commented on #231
I can't read this, feel free to re-open this issue, if it was not fixed

[2021-11-01 09:24] #231 closed

[2021-11-01 09:51] bashu commented on #196
to @auvipy are you sure have installed and configured puput correctly? Please re-open issue, if it was not solved already

[2021-11-01 09:51] #196 closed

[2021-11-01 11:05] bashu commented on #226
fixed in `develop` branch

[2021-11-01 11:29] bashu commented on #225
to @DarkArtek can not reproduce. to @farlandliu does it still an issue with puput from `develop` branch?

[2021-11-01 11:29] #225 closed

[2021-11-01 13:26] bashu commented on #208
to @loleg check #248

[2021-11-02 12:26] #208 closed

[2021-11-02 15:33] bashu commented on #235
fixed in `develop` branch, stay tuned

[2021-11-05 08:44] #238 closed

[2021-11-05 08:44] #226 closed

[2021-11-05 08:44] #235 closed

[2021-11-05 08:44] #241 closed

[2021-11-05 09:05] bashu opened #249 "Upload 1.1.2 on PyPI"
Hey @marctc

I don't have access to upload package on  PyPI, can  you fix that? Just in case my pypi username: bashu

[2021-11-05 09:05] bashu opened #250 "Fix broken test suite"
subj

[2021-11-06 05:06] bashu commented on #249
cc @marctc @aaloy

[2021-11-06 18:46] ckz8780 commented on #239
@bashu Thanks for the reply and sorry for the delay in response! It does seem to work. I've installed v1.1.2, wagtail 2.15 and Django 3.2.9. I'm working on a bunch of other upgrades so I won't know for sure if this combo will work together for a bit but the changes definitely fixed the circular import issue. Thank you!

[2021-11-08 09:13] marctc commented on #249
Got it, will do it later

[2021-11-08 20:08] marctc commented on #249
Done! (BTW, we should start using poetry to replace the setup.py)

[2021-11-08 20:08] #249 closed

[2021-11-09 03:40] bashu commented on #249
to @marctc we will once I fix test suite

[2021-11-09 06:27] bashu opened #251 "Fix broken 1.1.2 package"
1.1.2 on pypi is non-installable, and this must be fixed

[2021-11-09 17:37] marctc commented on #251
Done, current version is 1.1.3

[2021-11-09 17:37] #251 closed

[2021-11-10 14:10] savvan0h opened #254 "Unable to relate entry between blogs"
It's possible to relate an entry between blogs, but the entry url in `puput/related_entries.html` cannot be rendered correctly.
I think it's because `puput.urls.get_entry_url` resolves the blog path from `blog_page` .
If I replace `blog_page.specific` below with `entry.blog_page` , it seems to work fine.

https://github.com/APSL/puput/blob/c991d895c9c0c1facd02a5faa653d0953d6c96aa/puput/urls.py#L81

[2022-01-12 05:18] kfields commented on #225
This issue just happened to me.  The fix from @farlandliu worked.
Please put the fix in master and publish a new version of Puput.
Thank you

[2022-01-20 02:12] tian-yan opened #255 "No CSS Styling at all after fresh deployment"
I was deploy Puput on top of a fresh Django project. the architecture looks as below:
NGINX--GUNICORN--Django Project (installed Puput via `pip install puput`).

However, after I finished all initial setup, and I try access `example.com/blog/`, I got a page as below without any CSS styling at all.
![image](https://user-images.githubusercontent.com/28975592/150254801-9e9e5280-cf46-4072-9663-70d1953

[2022-01-20 03:56] tian-yan commented on #255
I think I figured out why. that is because I did not copy all CSS related files to NGINX Static File serving folder.
But which one should I copy over, **`static/`** or **`templates`** folder in the **[source code](https://github.com/APSL/puput/tree/master/puput)**

[2022-01-20 04:25] tian-yan commented on #255
I finally solved it myself.  I copied over the **`static/`** folder in this repository as well as the **`wagtailadmin/`** static file folder for wagtail to my NGINX static file serving folder, now both `example.com/blog` and `example.com/blog_admin` are properly styled.

[2022-01-20 04:31] #255 closed

[2022-01-20 07:04] tian-yan opened #256 "Partially working '/blog_admin' page"
I have a fresh deployment of puput on top of a fresh Django project.
`example.com/blog/` and `example/blog_admin/` are all working fine.  However, I realize below page is partially working.
when I click on **`ROLES`** button, or the **`upper arrow`** at the left-bottom corner to change user settings, nothing happens, it does not takes me to any page.
![image](https://user-images.githubusercontent.

[2022-01-20 12:21] tian-yan commented on #256
I managed to fix this myself. It was my problem, I did not provide a comprehensive list of Static files required.
I did a static file collection by command **`python manage.py collectstaticfiles`**, and then copied all collected static files over to NGINX server. Now everything works fine.

[2022-01-20 12:33] bashu commented on #256
to @tian-yan don't give up, you will make it!

[2022-01-20 12:33] #256 closed

[2022-01-20 13:11] tian-yan opened #257 "Is markdown supported"
I want to draft blog posts using `Markdown`, and wonder if `wagtail-markdown` is supported or not?
Based on **[this URL](https://github.com/APSL/puput/issues/40#issuecomment-244299216)**, it seems that there is a branch support `Markdown`, but I do not know how to install that specific branch when deploying via `docker-compose` YAML file.

any advice please ?

[2022-01-21 16:01] tian-yan commented on #257
I ended up with customizing the source code myself to achieve below successfully via `wagtail-markdown` package.
- only use `body` as `Markdown Field` to draft articles.
- **automate `excerpt` generation via manually selected (manually append {: .excerpt}) contents**. To be specific, all `**bold text contents**{: .excerpt}` elements in Markdown syntax will be rendered as `<strong class="excerpt">b

[2022-03-30 05:42] tamhv opened #258 "Internal Server Error: /admin/snippets/puput/category/add/"
[code]

Puput is working, i created a first blog page, all good, nothing wrong but when i navigate to `/admin/snippets/puput/category/add/` i got 500 Internal server error.

[code]

[code]

And i've tried `manifest_strict = False`, still no luck.

[2022-04-27 10:00] thibaudcolas opened #259 "Expected UI issues with Wagtail 3.0 release"
The [Wagtail 3.0 first release candidate](https://github.com/wagtail/wagtail/discussions/8362) is out. There are large UI changes in this release, for which we have [reviewed expected breakage in third-party UI customisations](https://github.com/wagtail/wagtail/discussions/7739#discussioncomment-2615089).

This is beyond what we do with our normal breaking changes policy, since the majority of tho

[2022-05-21 16:53] Konstantin555 commented on #243
Bump.
Any ideas on how to add the Wagtail's TableBlock into puput?

[2022-06-01 12:21] codesardine commented on #225
this issue seems to still be present, the fix above worked.

[2022-06-22 17:45] ramiboutas commented on #45
Hi Marc, how is it possible to cache the blog entries? is there any settings that puput needs? Thank you!

[2022-09-06 19:31] sebastian-muthwill opened #260 "How to uninstall puput and use plain wagtail without loosing content"
Is there a way to uninstall puput but stay with wagtail and not loose the content?

[2022-09-07 19:38] CVYY39 commented on #260
What exactly are you trying to do? Have the content remain exactly as-is on the site? Easiest way to do that would probably be to convert it to static HTML.

[2022-09-08 04:59] sebastian-muthwill commented on #260
I was trying to uninstall puput but keep wagtail with the content.
But that was a wrong path I went down. Never mind. Will close the issue.

[2022-09-08 04:59] #260 closed

[2022-09-08 05:13] sebastian-muthwill opened #261 "Search is only working for one tree and not searching globaly"
Is there a chance to change the behavior of the search function?

In my project I have currently two pages under root with a tree of pages under `/de`
`/blog`
`/de`
`/de/dokumentation`
`/de/faq`

This is the current search behavior. When I'm on the blog page and key in a search term then the search is issued like this:
`http://127.0.0.1:8000/blog/search/?q=searchterm`

and for the other page tree:

[2022-11-23 11:00] codesardine opened #262 "Any update comming for v4.1 LTS"
I have been waiting for an update since 3.0 come out, is this project abandoned?

[2022-11-23 14:07] marctc commented on #262
@codesardine I'm not mantain this project anymore but I'm happy to merge any new contributions
and push new releases. @bashu do you wanna take a look at this?

[2022-11-24 02:56] bashu commented on #262
to @marctc yes, I will

[2022-11-24 17:09] codesardine commented on #262
I don't have alot of experience with django, but I am happy to help.